#header > button {
  flex-grow: 1;
  min-height: 40px;
}

.array-node,
.config-sub-object {
  padding: 0px;
}

.config-sub-object {
  margin-bottom: 5px;
}

.array-node {
  width: 90%;
  margin: 5px auto;
}

.array-node-add {
  text-align: center;
}

.title {
  flex: 1;
}

.back-arrow {
  height: 100%;
  font-weight: 700;
}

.config-sub-object-body,
.array-node-body {
  display: none;
  background-color: white;
}

.config-sub-object-body {
  background-color: rgb(247, 243, 243);
}

.show {
  display: block;
}

.input-line {
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.input-label-cell {
  max-width: 50%;
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
}

.input-input-cell {
  margin: 4px 5px;
  max-width: 50%;
  flex-grow: 1;
  text-align: center;
}

.input-input-cell > input {
  width: 100%;
  border: none;
  height: 30px;
  background-color: rgb(212, 219, 221);
}

.input-remove-cell {
  width: 20px;
  text-align: center;
}
