<template>
  <Confirmation
    customTitle
    :title="'Subprocesses for ' + process.name"
    noButtons
    @cancel="$emit('cancel')"
  >
    <v-row>
      <v-col cols="4" sm="4" md="4">
        <SubprocessesTreeView
          style="background-color: white"
          :process="process"
          :isDynamicSelection="true"
          @click="openItem"
        />
      </v-col>
      <v-col cols="8" sm="8" md="8">
        <div v-if="selectedProcess">
          <h4 v-if="selectedNodeTitle">{{ selectedNodeTitle }}</h4>
          <br v-if="selectedNodeTitle" />
          <BpmnPreview
            :process="selectedProcess"
            @editBpmn="$emit('editBpmn', { process: selectedProcess })"
          ></BpmnPreview>
        </div>
        <div v-else>
          <h4>There is no Bpmn Diagram. To see please do the following:</h4>
          <ul>
            <li>Select any item from tree placed at left side</li>
            <li>After that you will see bpmn diagram</li>
            <li>Clicking bpmn diagram will take you to editor</li>
          </ul>
        </div>
      </v-col>
    </v-row>
  </Confirmation>
</template>

<script>
import Confirmation from '@/components/universal/Confirmation.vue';
import SubprocessesTreeView from '@/components/processes/subprocesses/SubprocessesTreeview.vue';
import BpmnPreview from '@/components/bpmn/BpmnPreview.vue';

export default {
  components: {
    Confirmation,
    SubprocessesTreeView,
    BpmnPreview,
  },
  props: {
    process: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    selectedProcess: null,
    selectedNodeTitle: '',
    unnamedLabel: 'Unnamed',
  }),
  methods: {
    async openItem(item) {
      //Setting selected node title
      this.selectedNodeTitle = item.name || this.unnamedLabel;

      //If CallActivity is True then Get XML esMoFrom Store else create new xml for sub processes
      if (item.isCallActivity) {
        //Creating Process Object with only id element to emit to parent component when bpmn preview is @clicked
        this.selectedProcess = { id: item.id };

        //Setting selected node type
        this.selectedNodeTitle = `Global Process ${this.selectedNodeTitle}`;
      } else {
        this.selectedProcess = this.process;
        this.selectedNodeTitle = '';
      }
    },
  },
  mounted() {
    this.selectedProcess = this.process;
    this.selectedNodeTitle = '';
  },
};
</script>

<style scoped>
.v-card__text,
.v-card__title {
  word-break: normal;
}
</style>
