<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Deployments</v-toolbar-title>
      <v-spacer></v-spacer>

      <span class="mx-3">Running Instances: {{ runningInstances.length }}</span>
      <v-btn color="primary" @click="showDeployModal = true" :loading="isCurrentlyDeploying"
        >Deploy Process</v-btn
      >
    </v-toolbar>
    <popup :popupData="popupData" />
    <v-dialog
      eager
      fullscreen
      v-model="updateElementMachineMapping"
      @keydown.esc="updateElementMachineMapping = false"
    >
      <MachineMappingModeler
        :show="updateElementMachineMapping"
        :xml="deployProcessXml"
        @saveMachineMapping="saveMachineMapping($event)"
        @cancel="updateElementMachineMapping = false"
        @deploy="deployProcessToMachines(processToDeploy, false)"
      />
    </v-dialog>
    <v-container fluid>
      <v-row justify="center" id="wrapper">
        <v-col class="text-center centered">
          <DeploymentDatatable
            tableTitle="Known Processes"
            :deployments="sortedDeployments.local"
            @openModal="navigateToDeployment"
          >
          </DeploymentDatatable>
        </v-col>
      </v-row>
    </v-container>
    <v-container
      fluid
      v-if="Array.isArray(sortedDeployments.external) && sortedDeployments.external.length"
    >
      <v-row justify="center" id="wrapper">
        <v-col class="text-center centered">
          <DeploymentDatatable
            tableTitle="Discovered Processes"
            :deployments="sortedDeployments.external"
            is-external
            @click:import="importProcess($event)"
            @openModal="navigateToDeployment"
          >
          </DeploymentDatatable>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="showDeployModal" max-width="1200px">
      <ProcessModal
        isDeploymentMode
        callToActionText="Deploy Process"
        @cancel="showDeployModal = false"
        @staticDeployment="openMappingEditor($event)"
        @dynamicDeployment="deployProcessToMachines($event, true)"
      ></ProcessModal>
    </v-dialog>
  </div>
</template>
<script>
import { engineNetworkInterface } from '../backend-api/index.js';

import { setMachineInfo, setDeploymentMethod } from '@proceed/bpmn-helper';

import DeploymentDatatable from '@/components/deployments/DeploymentDatatable.vue';
import AlertWindow from '@/components/universal/Alert.vue';
import MachineMappingModeler from '@/components/deployments/MachineMappingModeler.vue';
import ProcessModal from '@/components/processes/editor/ProcessModal.vue';

export default {
  components: {
    DeploymentDatatable,
    MachineMappingModeler,
    popup: AlertWindow,
    ProcessModal,
  },
  data() {
    return {
      deployDefinitionId: '',
      popupData: {
        body: '',
        display: 'none',
        color: '',
      },
      updateElementMachineMapping: false,
      deployProcessXml: '',
      processToDeploy: null,
      showDeployModal: false,
      isCurrentlyDeploying: false,
    };
  },
  computed: {
    processes() {
      const processes = this.$store.getters['processStore/processes'];

      /**
       * Adding additional meta information to current fetched processes
       * Key 1 : totalDeployments
       * Key 2 : totalInstances
       */
      return processes.map((process) => {
        const specificDeployedProcesses = this.deployedProcesses.filter(
          (deployment) => deployment.definitionId === process.id
        );
        process.totalDeployments = specificDeployedProcesses.length;
        process.totalInstances = 0;
        for (const deployment of specificDeployedProcesses) {
          process.totalInstances += deployment.instances.length;
        }

        return process;
      });
    },
    deployedProcesses() {
      return this.$store.getters['machineStore/deployments'];
    },
    /**
     * Sort deployments into two lists: one for local process deployments and one for external deployments
     *
     * @returns {object} - object containing local and external member for deployments
     */
    sortedDeployments() {
      const sortedDeployments = { local: [], external: [] };

      for (const deployment of this.deployedProcesses) {
        if (this.processes.some((process) => process.id === deployment.definitionId)) {
          sortedDeployments.local.push(deployment);
        } else {
          sortedDeployments.external.push(deployment);
        }
      }

      return sortedDeployments;
    },

    runningInstances() {
      let runningInstances = [];

      // list of states that signal a still unfinished instance
      const activeStates = ['RUNNING', 'READY', 'DEPLOYMENT-WAITING', 'PAUSED'];

      for (const deployment of this.deployedProcesses) {
        const instanceInfo = deployment.instances
          .filter((instance) =>
            instance.instanceState.some((state) => activeStates.includes(state))
          )
          .map((instance) => ({
            definitionId: deployment.definitionId,
            instanceId: instance.processInstanceId,
            machineIds: instance.machineIds,
          }));

        runningInstances = [...runningInstances, ...instanceInfo];
      }

      return runningInstances;
    },
  },
  methods: {
    deployProcess(processToDeploy) {
      this.processToDeploy = processToDeploy;
      this.deployDefinitionId = processToDeploy.id;
      this.showDeployModal = false;
    },

    navigateToDeployment(deployment) {
      this.$router.push({
        name: 'deployment-overview',
        params: { id: deployment.definitionId },
      });
    },

    async deployProcessToMachines(processToDeploy, dynamic) {
      if (this.deployedProcesses.find((process) => process.definitionId == processToDeploy.id)) {
        this.popupData.body = 'Process already deployed';
        this.popupData.color = 'warning';
        this.showDeployModal = false;
        this.openPopup();
      } else {
        this.deployProcess(processToDeploy);
        this.isCurrentlyDeploying = true;
        try {
          await engineNetworkInterface.deployProcess(processToDeploy.id, dynamic);
          this.popupData.body = 'Deployed process successfully';
          this.popupData.color = 'success';
        } catch (err) {
          this.popupData.body = `Failed to deploy process: ${err.message}.`;
          this.popupData.color = 'error';
        }
        this.openPopup();
        this.isCurrentlyDeploying = false;
      }
      this.updateElementMachineMapping = false;
      setTimeout(() => {
        this.popupData.display = 'none';
      }, 7000);
      this.deployDefinitionId = '';
    },

    /**
     * Opens a popup dialog
     */
    openPopup() {
      this.popupData.display = 'block';
    },

    /**
     * Opens dialog that allows editing of machine maching for process with given id
     *
     * @param {string} definitionId id of the process we want to update
     */
    async openMappingEditor(processToDeploy) {
      this.deployProcess(processToDeploy);
      const process = this.processes.find(
        (storedProcess) => storedProcess.id === processToDeploy.id
      );
      this.deployProcessXml = await setDeploymentMethod(
        await this.$store.getters['processStore/xmlById'](process.id),
        'static'
      );
      this.updateElementMachineMapping = true;
      this.$store.dispatch('processStore/updateWholeXml', {
        id: this.deployDefinitionId,
        bpmn: this.deployProcessXml,
      });
    },
    /**
     * Saves the given machine mapping in the bpmn of the currently selected process
     *
     * @param {object} obj the flowNode to machine mapping
     */
    async saveMachineMapping(obj) {
      if (obj) {
        this.deployProcessXml = await setMachineInfo(this.deployProcessXml, obj);
        const deployProcess = this.processes.find(
          (process) => process.id === this.deployDefinitionId
        );
        this.$store.dispatch('processStore/updateWholeXml', {
          id: this.deployDefinitionId,
          bpmn: this.deployProcessXml,
        });
      }
    },

    importProcess(deployment) {
      this.$store.dispatch('processStore/add', {
        process: {
          name: deployment.name,
          id: deployment.definitionId,
          variables: [],
        },
        bpmn: deployment.bpmn,
      });
    },
  },
  mounted() {
    engineNetworkInterface.subscribeForDeploymentsUpdates();
    engineNetworkInterface.startMachinePolling();
  },
  async beforeRouteLeave(to, from, next) {
    await engineNetworkInterface.unsubscribeFromDeploymentsUpdates();
    await engineNetworkInterface.stopMachinePolling();
    next();
  },
};
</script>
