<template>
  <div class="editor-explorer">
    <v-tabs v-model="currentTab" show-arrows="mobile" class="flex-grow-0">
      <ProcessTab
        v-for="(tab, index) in tabs"
        :key="index"
        :processDefinitionsId="tab.processDefinitionsId"
        @addTab="addTab($event.processDefinitionsId)"
        @deleteTab="deleteTab(tab)"
      />
      <v-btn class="d-flex align-self-center" icon center @click="showNewTabDialog = true">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn class="d-flex align-self-center" plain text center @click="tabs = [tabs[currentTab]]">
        Clear tab bar
      </v-btn>
    </v-tabs>

    <v-dialog v-model="showNewTabDialog" max-width="800px">
      <ProcessModal
        callToActionText="Open in new tab"
        @cancel="showNewTabDialog = false"
        @click:bpmnPreview="addTab"
      ></ProcessModal>
    </v-dialog>
    <AlertWindow :popupData="popupData" />

    <EditProcessBpmn
      v-if="tabs[currentTab] && tabs[currentTab].processDefinitionsId"
      :processDefinitionsId="tabs[currentTab].processDefinitionsId"
      @addTab="addTab"
      @inactivityTimeout="$router.back()"
    ></EditProcessBpmn>
  </div>
</template>

<script>
import EditProcessBpmn from '@/views/ProcessBpmnEditor.vue';
import ProcessModal from '@/components/processes/editor/ProcessModal.vue';
import ProcessTab from '@/components/processes/editor/ProcessTab.vue';
import AlertWindow from '@/components/universal/Alert.vue';
import { eventHandler } from '@/backend-api/index.js';

export default {
  name: 'edit-explorer',
  components: {
    ProcessTab,
    ProcessModal,
    EditProcessBpmn,
    AlertWindow,
  },
  data() {
    return {
      /**
       * Tabs
       */
      currentTab: 0,
      tabs: [],
      showNewTabDialog: false,
      previousTab: 0,
      popupData: {
        body: '',
        display: 'none',
        color: 'warning',
      },
    };
  },
  computed: {},
  watch: {
    tabs(newTabs) {
      this.$store.dispatch('userPreferencesStore/setLastTabSession', newTabs);
    },
    currentTab() {
      if (this.tabs[this.previousTab]) {
        this.$store.dispatch('processStore/stopEditing', {
          id: this.tabs[this.previousTab].processDefinitionsId,
        });
      }
      if (this.currentTab && this.tabs[this.currentTab]) {
        this.$store.dispatch('processStore/startEditing', {
          id: this.tabs[this.currentTab].processDefinitionsId,
        });
        this.previousTab = this.currentTab;
      }
    },
  },
  methods: {
    async addTab(processDefinitionsId) {
      // lookup if the tab which should be added already exists
      const selectedTab = this.tabs.find(
        (tab) => tab.processDefinitionsId === processDefinitionsId
      );
      if (selectedTab) {
        this.currentTab = this.tabs.indexOf(selectedTab);
        this.showNewTabDialog = false;
        return;
      }

      const newTab = {
        processDefinitionsId,
      };

      // to insert the new process tab infront of potential subprocesses tabs
      const subprocessTabIndex = this.tabs.findIndex(
        (tab) => tab.processDefinitionsId === processDefinitionsId
      );
      if (subprocessTabIndex !== -1) {
        this.tabs.splice(subprocessTabIndex, 0, newTab);
      } else {
        this.tabs.push(newTab);
      }

      // switch to the added tab
      this.currentTab = this.tabs.findIndex(
        (tab) => tab.processDefinitionsId === processDefinitionsId
      );

      this.showNewTabDialog = false;
    },
    deleteTab(tab) {
      const index = this.tabs.indexOf(tab);
      if (tab.processDefinitionsId) {
        this.$store.dispatch('processStore/stopEditing', {
          id: tab.processDefinitionsId,
        });
      }
      this.tabs.splice(index, 1);
      if (this.tabs.length === 0) {
        this.$router.back();
      }
    },
  },
  mounted() {
    eventHandler.on('processRemoved', ({ processDefinitionsId }) => {
      const deletedTab = this.tabs.find((tab) => tab.processDefinitionsId === processDefinitionsId);
      if (deletedTab) {
        this.deleteTab(deletedTab);
        this.popupData.body = 'A process was deleted so its tab was automatically removed';
        this.popupData.display = 'block';
      }
    });
  },
  beforeMount() {
    const routerProcessDefinitionsId = this.$router.currentRoute.params.id;

    const lastTabSession = this.$store.getters['userPreferencesStore/getLastTabSession'];
    for (const tab of lastTabSession) {
      if (
        tab &&
        tab.processDefinitionsId &&
        this.$store.getters['processStore/processById'](tab.processDefinitionsId)
      ) {
        this.addTab(tab.processDefinitionsId);
      }
    }
    if (routerProcessDefinitionsId) {
      this.$store.dispatch('processStore/startObservingEditing', {
        id: routerProcessDefinitionsId,
      });
      this.$store.dispatch('processStore/startEditing', { id: routerProcessDefinitionsId });
      this.addTab(routerProcessDefinitionsId);
    }
  },
  beforeRouteLeave(to, from, next) {
    if (this.tabs[this.currentTab]) {
      console.log('closed editor');
      this.$store.dispatch('processStore/stopEditing', {
        id: this.tabs[this.currentTab].processDefinitionsId,
      });
      this.$store.dispatch('processStore/stopObservingEditing', {
        id: this.tabs[this.currentTab].processDefinitionsId,
      });
    }
    next();
  },
};
</script>

<style>
.editor-explorer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
</style>
