<template>
  <div>
    <v-toolbar>
      <v-toolbar-title>Processes</v-toolbar-title>
      <v-btn-toggle v-model="processViewMode" class="ml-3" color="primary" mandatory dense group>
        <v-btn value="table">
          <v-icon>mdi-format-align-justify</v-icon>
        </v-btn>
        <v-btn value="card">
          <v-icon>mdi-apps</v-icon>
        </v-btn>
      </v-btn-toggle>
      <v-spacer />
      <v-btn @click="showImportProcessForm">
        <v-icon> mdi-upload </v-icon>
      </v-btn>
      <v-btn color="primary" @click="showAddProcessForm">Add</v-btn>
    </v-toolbar>
    <v-container fluid>
      <v-row row wrap justify-center id="wrapper">
        <v-col class="text-center centered">
          <v-card>
            <v-card-title>
              <v-menu :disabled="!selected.length" offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" :disabled="!selected.length" v-on="on">
                    <v-icon left>mdi-menu-down</v-icon>Select Action
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="expandSelected">
                    <v-list-item-title>
                      <v-icon left>mdi-arrow-expand-vertical</v-icon>Expand
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="collapseSelected">
                    <v-list-item-title>
                      <v-icon left>mdi-arrow-collapse-vertical</v-icon>Collapse
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item v-if="selected.length === 1" disabled>
                    <v-list-item-title>
                      <v-icon left>mdi-check-box-outline</v-icon>Deploy
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="openExportDialog">
                    <v-list-item-title> <v-icon left>mdi-export</v-icon>Export </v-list-item-title>
                  </v-list-item>
                  <v-list-item v-if="selected.length === 1" @click="editProcess = selected[0]">
                    <v-list-item-title> <v-icon left>mdi-pencil</v-icon>Edit </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="removeSelectedProcessesDialog = true">
                    <v-list-item-title> <v-icon left>mdi-delete</v-icon>Delete </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
              <v-spacer></v-spacer>
              <v-text-field
                class="ma-0"
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                :disabled="!processes || processes.length === 0"
                clearable
              ></v-text-field>
            </v-card-title>
            <v-divider />
            <ProcessCardList
              v-if="processViewMode === 'card'"
              :processes="mappedProcesses"
              :search.sync="search"
              :selected.sync="selected"
              :expanded.sync="expanded"
              :showFavoriteList.sync="showFavoriteList"
              callToActionText="Open Editor"
              @handleFavorite="handleFavorite"
              @createProcessHierarchy="handleProcessHierarchy"
              @editBpmn="editBpmn"
              @editProcessRequest="handleEditProcessRequest"
              @deleteProcessRequest="handleDeleteProcessRequest"
              @exportProcess="exportProcess"
            />
            <ProcessDataTable
              v-else-if="processViewMode === 'table'"
              :processes="mappedProcesses"
              :search.sync="search"
              :selected.sync="selected"
              :expanded.sync="expanded"
              :showFavoriteList.sync="showFavoriteList"
              callToActionText="Open Editor"
              @handleFavorite="handleFavorite"
              @createProcessHierarchy="handleProcessHierarchy"
              @editBpmn="editBpmn"
              @editProcessRequest="handleEditProcessRequest"
              @deleteProcessRequest="handleDeleteProcessRequest"
              @exportProcess="exportProcess"
            />
          </v-card>
        </v-col>
      </v-row>
      <DepartmentsList @changeSearch="changeSearchItem"></DepartmentsList>
    </v-container>
    <AlertWindow :popupData="inactivityWarningData" :centered="false">
      This is necessary to allow a collaborative process editing. For further information,
      <a href="https://docs.proceed-labs.org/concepts/collaborative-editing"
        >see here</a
      ></AlertWindow
    >
    <v-dialog v-model="removeSelectedProcessesDialog" persistent max-width="500px" eager>
      <confirmation
        :title="deleteConfirmationTitle"
        :continueButtonText="
          'Delete ' + (selected.length > 1 ? selected.length + ' Processes' : 'Process')
        "
        continueButtonColor="error"
        @cancel="removeSelectedProcessesDialog = false"
        @continue="deleteSelectedProcesses"
      >
        <div v-if="selected.length === 1">
          You are about to delete the process <b>{{ selected[0].name }}</b> and all of the
          subprocesses!
        </div>
        <div v-else>
          You are about to delete <b>{{ selected.length }} processes</b> and all of their
          subprocesses:
          <ul style="list-style-position: inside">
            <li v-for="process of selected" :key="process.id">
              {{ process.name }}
            </li>
          </ul>
        </div>
      </confirmation>
    </v-dialog>
    <v-dialog v-model="removeBlockedProcessesDialog" persistent max-width="500px" eager>
      <confirmation
        :title="forceDeleteConfirmationTitle"
        :continueButtonText="
          'Delete ' + (selected.length > 1 ? selected.length + ' Processes' : 'Process')
        "
        continueButtonColor="error"
        @cancel="removeBlockedProcessesDialog = false"
        @continue="deleteSelectedProcesses"
      >
        <div v-if="selected.length === 1">
          You are about to delete the process <b>{{ selected[0].name }}</b
          >!
        </div>
        <div v-else>
          You are about to delete <b>{{ selected.length }} processes</b>:
          <ul style="list-style-position: inside">
            <li v-for="process of selected" :key="process.id">
              {{ process.name }}
            </li>
          </ul>
        </div>
      </confirmation>
    </v-dialog>
    <v-dialog
      @keydown.esc="addProcessDialog = false"
      eager
      v-if="addProcessDialog"
      max-width="800px"
      v-model="addProcessDialog"
    >
      <process-form :importMode="importMode" @cancel="addProcessDialog = false" @added="added" />
    </v-dialog>
    <v-dialog
      @keydown.esc="editProcess = null"
      eager
      v-if="!!editProcess"
      persistent
      max-width="800px"
      :value="!!editProcess"
    >
      <process-form :process="editProcess" @cancel="editProcess = null" @update="updateProcess" />
    </v-dialog>
    <v-dialog
      v-if="exportSelectedProcessesDialog"
      v-model="exportSelectedProcessesDialog"
      max-width="500px"
      eager
    >
      <ExportModal
        :loading="exportRunning"
        :title="selected.length > 1 ? 'Export selected processes' : 'Export selected process'"
        :text="selectionText"
        :error="errorSelectionText"
        :max="max"
        @cancel="exportSelectedProcessesDialog = false"
        @continue="exportSelected"
      />
    </v-dialog>
    <v-dialog
      v-if="isSubprocessesModalVisible"
      v-model="isSubprocessesModalVisible"
      max-width="800px"
    >
      <SubprocessesModal
        :process="processForSubprocessModal"
        @cancel="isSubprocessesModalVisible = false"
        @editBpmn="editBpmn($event.process)"
      />
    </v-dialog>
  </div>
</template>
<script>
import ProcessForm from '@/components/processes/ProcessForm.vue';
import ExportModal from '@/components/processes/ExportModal.vue';
import SubprocessesModal from '@/components/processes/subprocesses/SubprocessesModal.vue';
import Confirmation from '@/components/universal/Confirmation.vue';
import AlertWindow from '@/components/universal/Alert.vue';
import DepartmentsList from '@/components/departments/DepartmentsList.vue';
import ProcessCardList from '@/components/processes/cards/ProcessCardList.vue';
import ProcessDataTable from '@/components/processes/datatable/ProcessDatatable.vue';
import { exportSelectedProcesses } from '@/helpers/process-export/process-export.js';
import { getMaximumResolution } from '@/helpers/process-export/process-max-resolution.js';

export default {
  components: {
    ProcessForm,
    Confirmation,
    DepartmentsList,
    ProcessCardList,
    ProcessDataTable,
    ExportModal,
    SubprocessesModal,
    AlertWindow,
  },
  computed: {
    showFavoriteList: {
      get() {
        return this.$store.getters['userPreferencesStore/getShowFavoritesProcessView'];
      },
      set(newValue) {
        this.$store.dispatch('userPreferencesStore/setShowFavoritesProcessView', newValue);
        this.resetSelectionAndExpansion();
      },
    },
    processViewMode: {
      get() {
        return this.$store.getters['userPreferencesStore/getSelectedProcessView'];
      },
      set(newValue) {
        this.$store.dispatch('userPreferencesStore/setSelectedProcessView', newValue);
      },
    },
    lastTabSession() {
      return this.$store.getters['userPreferencesStore/getLastTabSession'];
    },
    departments() {
      return this.$store.getters['departmentStore/getDepartments'];
    },
    favorites() {
      return this.$store.getters['userPreferencesStore/getUserFavorite'];
    },
    processes() {
      return this.$store.getters['processStore/processes'];
    },
    mappedProcesses() {
      if (!this.processes) return [];

      let processes = this.processes.map((process) => {
        return {
          ...process,
          departments: process.departments
            ? process.departments.map((department) => {
                return {
                  name: department,
                  color: this.getDepartmentColor(department),
                };
              })
            : '',
          isFavorite: this.isFavorite(process.id),
        };
      });

      if (this.showFavoriteList) {
        processes = processes.filter((process) => process.isFavorite);
      }

      return processes;
    },
    deleteConfirmationTitle() {
      return `delete the selected ${this.selected.length === 1 ? 'process' : 'processes'}?`;
    },
    forceDeleteConfirmationTitle() {
      return `delete the selected ${
        this.selected.length === 1
          ? 'process? This process is'
          : 'processes? One or more of the processes are'
      } being edited by someone else`;
    },
  },
  data() {
    return {
      addProcessDialog: false,
      removeSelectedProcessesDialog: false,
      removeBlockedProcessesDialog: false,
      confirmationText: 'Do you want to continue?',
      selectionText: 'Please select a format for the file export',
      errorSelectionText: 'Please select a format',
      editProcess: null,
      search: '',
      selected: [],
      expanded: [],
      exportRunning: false,
      exportSelectedProcessesDialog: false,
      isSubprocessesModalVisible: false,
      processForSubprocessModal: null,
      importMode: false,
      inactivityWarningData: {
        body: 'Process Editor closed due to inactivity.',
        display: 'none',
        color: 'info',
      },
      max: 10,
    };
  },
  watch: {
    search() {
      this.resetSelectionAndExpansion();
    },
    processViewMode() {
      this.resetSelectionAndExpansion();
    },
  },
  methods: {
    resetSelectionAndExpansion() {
      this.selected = [];
      this.expanded = [];
    },
    showAddProcessForm() {
      this.importMode = false;
      this.addProcessDialog = true;
    },
    showImportProcessForm() {
      this.addProcessDialog = true;
      this.importMode = true;
    },
    async exportProcess(process) {
      this.selected = this.processes.filter((pro) => pro.id === process.id);
      this.max = await getMaximumResolution(this.selected);
      this.exportSelectedProcessesDialog = true;
    },
    /**
     * Toogle showFavoriteList -> show or hide favorites
     * if show favorites => Change ProcessList into FavoriteList
     * if hide => show all Processes in ProcessList
     */
    showAllFavoriteProcesses() {
      this.showFavoriteList = !this.showFavoriteList;
    },
    /**
     * Expand selected Processes in the Process Data Table
     */
    expandSelected() {
      this.expanded = this.expanded
        .concat(this.selected)
        .filter((value, index, self) => self.indexOf(value) === index);
    },
    /**
     * Collapse selected expanded Processes in the Process Data Table
     */
    collapseSelected() {
      this.expanded = this.expanded.filter((process) => !this.selected.includes(process));
    },
    /**
     * Add or Delete ProcessDefinitionsId from Favorite in userPreferencesStore
     */
    handleFavorite(process) {
      if (process.isFavorite) {
        this.$store.dispatch('userPreferencesStore/deleteProcessFromFavoritesById', process.id);
      } else {
        this.$store.dispatch('userPreferencesStore/addNewProcessToFavorites', process.id);
      }
    },
    /**
     * return true if processDefinitionsId is in Favorites
     */
    isFavorite(processDefinitionsId) {
      return this.favorites.includes(processDefinitionsId);
    },
    changeSearchItem(searchItem) {
      this.search = searchItem;
    },
    getDepartmentColor(departmentName) {
      return this.departments
        .filter((department) => department.name === departmentName)
        .map((department) => department.color)
        .pop();
    },
    added(process) {
      if (!this.importMode || process) this.editBpmn(process);
      this.addProcessDialog = false;
    },
    updateProcess(process) {
      this.editProcess = null;
    },
    deleteSelectedProcesses() {
      let lastTabSession = this.$store.getters['userPreferencesStore/getLastTabSession'];
      this.selected
        .map((process) => process.id)
        .forEach((id) => {
          this.$store.dispatch('processStore/remove', { id });
          const i = lastTabSession.findIndex((p) => p.processDefinitionsId === id);
          if (i !== -1) {
            lastTabSession.splice(i, 1);
          }
        });
      this.$store.dispatch('userPreferencesStore/setLastTabSession', lastTabSession);
      this.removeBlockedProcessesDialog = false;
      this.removeSelectedProcessesDialog = false;
      this.selected = [];
    },
    handleEditProcessRequest(process) {
      this.editProcess = this.processes.find((pro) => pro.id === process.id);
    },
    handleDeleteProcessRequest(process) {
      this.selected = this.processes.filter((pro) => pro.id === process.id);
      if (process.inEditingBy && process.inEditingBy.length > 0) {
        this.removeBlockedProcessesDialog = true;
      } else {
        this.removeSelectedProcessesDialog = true;
      }
    },
    chooseDeleteDialog() {
      let blocked = false;
      this.selected.forEach((process) => {
        if (process.inEditingBy && process.inEditingBy.length > 0) {
          blocked = true;
        }
      });
      if (blocked) {
        this.removeBlockedProcessesDialog = true;
      } else {
        this.removeSelectedProcessesDialog = true;
      }
    },
    editBpmn(process) {
      this.$router.push({ name: 'edit-process-bpmn', params: { id: process.id } });
    },
    handleProcessHierarchy(process) {
      this.processForSubprocessModal = process;
      this.isSubprocessesModalVisible = true;
    },
    async openExportDialog() {
      this.max = await getMaximumResolution(this.selected);
      this.exportSelectedProcessesDialog = true;
    },
    /**
     * - export selected processes in selected format
     * - add additional data (bpmn, user tasks, subprocesses, call activities)
     *
     * @param {*} selectedOption selected export format
     */
    async exportSelected(selectedOption) {
      if (!selectedOption) {
        this.exportSelectedProcessesDialog = true;
        return;
      }
      this.exportRunning = true;
      await exportSelectedProcesses(this.processes, this.selected, selectedOption);

      this.exportSelectedProcessesDialog = false;
      this.exportRunning = false;
      this.selected = [];
    },
  },
  created() {
    if (this.$store.getters['warningStore/showWarning'] == true) {
      this.inactivityWarningData.display = 'block';
      this.$store.commit('warningStore/setWarning', false);
    }
  },
};
</script>
