<template>
  <div class="flex-container">
    <v-toolbar class="flex-toolbar">
      <v-toolbar-title>
        <v-form v-if="isEditingProcessName" ref="process-name">
          <v-text-field
            class="mt-3"
            id="name-input"
            ref="name-input"
            v-model="newName"
            :rules="[nameRules.required, nameRules.counter]"
            counter="150"
            dense
            autofocus
            @keydown.enter.stop=""
            @keyup.enter.stop="saveName"
            @blur.stop="saveName"
          />
        </v-form>
        <span v-else>
          {{ name }}
          <v-btn icon @click="showEditProcessName">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </span>
      </v-toolbar-title>
      <v-spacer />
      <div v-if="!isHtmlFormDialogVisible">
        <v-btn v-if="!isXmlDialogVisible" @click="toggleXMLViewer">Show XML</v-btn>
        <v-btn
          v-else-if="isXmlDialogVisible && (!xmlChanged || disableEditing)"
          @click="toggleXMLViewer"
          >Hide XML</v-btn
        >
        <v-btn
          v-else-if="isXmlDialogVisible && xmlChanged && !disableEditing"
          @click="saveXmlAndClose"
          >Save XML</v-btn
        >
        <v-tooltip bottom v-if="!areNonExecutableElementsHidden">
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" @click="hideNonExecutableElements">Hide non-executable elements</v-btn>
          </template>
          <span>{{ nonExecutableElementsExplanation }}</span>
        </v-tooltip>
        <v-tooltip bottom v-if="areNonExecutableElementsHidden">
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" @click="showNonExecutableElements">Show non-executable elements</v-btn>
          </template>
          <span>{{ nonExecutableElementsExplanation }}</span>
        </v-tooltip>
        <v-btn @click="showExportDialog">Export</v-btn>
      </div>
    </v-toolbar>

    <div class="flex-content">
      <div v-if="!disableEditing" class="task-edit-button-wrapper">
        <div v-if="showAdditionalOptions">
          <v-btn
            v-if="selectedElement.type === 'bpmn:ScriptTask'"
            color="primary"
            @click="openScriptDialog"
          >
            Edit Script
          </v-btn>
          <v-btn v-if="taskHtml" color="primary" @click="openHtmlForm">Edit User Task Form</v-btn>

          <v-btn v-if="timeDuration !== undefined" color="primary" @click="openDialog('TimerEvent')"
            >Edit Timer Event</v-btn
          >
          <v-btn v-if="canHaveCondition" color="primary" @click="openDefaultFlowDialog"
            >Make default flow</v-btn
          >
          <v-btn v-if="canHaveCondition" color="primary" @click="openConditionDialog"
            >Edit Condition</v-btn
          >
          <v-btn v-if="canHaveConstraints" color="primary" @click="openTaskConstraintEditor"
            >Edit Task Constraints</v-btn
          >
          <v-btn
            v-if="selectedElement.type === 'bpmn:CallActivity'"
            color="primary"
            @click="openDialog('CallActivity')"
            >Select Process</v-btn
          >
          <v-btn
            v-if="
              selectedElement.type === 'bpmn:CallActivity' &&
              selectedCallActivityProcessDefinitionsId
            "
            color="primary"
            @click="openSubprocessModeler"
            >Open Call Activity in Editor</v-btn
          >
        </div>

        <v-btn v-else color="primary" @click="openDialog('ProcessConstraints')"
          >Edit Process Constraints</v-btn
        >
      </div>
      <div class="history-mode-overlay" style="background-color: transparent">
        <v-btn v-if="isSaveMessageVisible" text small color="green">
          Changes saved
          <v-icon right small>mdi-check</v-icon>
        </v-btn>
        <v-icon v-if="isElectron" @click="modeler.get('commandStack').undo()">mdi-undo</v-icon>
        <v-icon v-if="isElectron" @click="modeler.get('commandStack').redo()">mdi-redo</v-icon>
      </div>
      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="properties-toggle"
            icon
            @click="togglePropertiesPanel"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon v-if="isPropertiesPanelVisible">mdi-chevron-right</v-icon>
            <v-icon v-else>mdi-chevron-left</v-icon>
          </v-btn>
        </template>
        <span v-if="isPropertiesPanelVisible">Close Properties Panel</span>
        <span v-else>Open Properties Panel</span>
      </v-tooltip>
      <PropertiesPanel
        v-if="selectedElement"
        :id="propertiesID"
        :ref="propertiesID"
        :element="selectedElement"
        :meta="metaData"
        :documentation="elementDocumentation"
        :fill-color="elementFillColor"
        :stroke-color="elementStrokeColor"
        class="properties-panel"
        :style="{
          display: isPropertiesPanelVisible ? 'block' : 'none',
        }"
        :disableEditing="disableEditing"
        @change="updateMetaData"
        @saveDocumentation="updateDocumentation"
        @saveBackgroundColor="updateBackgroundColor"
        @saveStrokeColor="updateStrokeColor"
      />
      <div :id="canvasID" class="diagram-container" />
    </div>
    <v-btn class="loading-message" v-if="loading" :loading="loading" text color="green">
      <template v-slot:loader>
        <span>BPMN Diagram is Loading...</span>
      </template>
    </v-btn>
    <VariableToolbar
      :processVariables="process.variables"
      :key="editVariableIndex"
      @add="openDialog('AddVariable')"
      @edit="editVariable"
    />

    <popup :popupData="popupData" @close="resetDialog = true" />
    <popup :popupData="xmlWarningData" :centered="false" />
    <popup :popupData="connectionWarningData" :centered="false" />

    <v-dialog v-model="isDefaultFlowDialogVisible" max-width="390px">
      <confirmation
        title="this flow the default. This will erase its condition!"
        text="Do you want to continue?"
        @cancel="closeDialog('DefaultFlow')"
        @continue="makeFlowDefault"
      />
    </v-dialog>

    <resizable-window v-show="isXmlDialogVisible" title="BPMN XML" :canvasID="canvasID">
      <v-card style="height: calc(100% - 48px)">
        <div style="height: 100%" id="xml-container" @mousedown.stop @keydown="xmlChanged = true" />
      </v-card>
    </resizable-window>

    <resizable-window
      fullscreen-only
      v-if="isHtmlFormDialogVisible"
      style="z-index: 999"
      :canvasID="canvasID"
    >
      <FormBuilder
        :content="taskHtml"
        :filename="userTaskFileName"
        @saveHTML="saveHTML"
        @close="closeUserTaskForm"
      />
    </resizable-window>

    <ProcessConstraintsModal
      :id="process.id"
      :showDialog="isProcessConstraintsDialogVisible"
      :elementConstraintMapping="elementConstraintMapping"
      :elementId="selectedElementId"
      @close="closeDialog('ProcessConstraints')"
      @update="addConstraints"
    />

    <v-dialog eager fullscreen v-model="isScriptDialogVisible">
      <ScriptingIde
        :isOpen="isScriptDialogVisible"
        :selected-element="selectedElement"
        :process-definitions-id="processDefinitionsId"
        @close="closeScriptEditor"
        @updated="saveScript($event)"
        :key="process.id"
      />
    </v-dialog>

    <v-dialog id="revertDialog" v-model="resetDialog" persistent max-width="390px" eager>
      <confirmation
        title="revert your changes? This action cannot be undone"
        text="Do you want to continue?"
        @cancel="resetDialog = false"
        @continue="reset"
      />
    </v-dialog>

    <v-dialog v-model="isAddVariableDialogVisible" persistent max-width="750px" eager>
      <VariableForm @cancel="closeDialog('AddVariable')" @add="addVariable" />
    </v-dialog>

    <v-dialog eager v-if="isEditVariableDialogVisible" max-width="750px" :value="true">
      <VariableForm
        :variable="editingVariable"
        :deleteOption="true"
        @cancel="closeVariableEditor"
        @update="updateVariable"
        @delete="deleteVariable"
      />
    </v-dialog>

    <v-dialog eager v-model="isTimerEventDialogVisible" max-width="750px" persistent>
      <TimerEventForm
        v-if="timeDuration !== undefined"
        :formalExpression="timeDuration"
        @save="saveTimerEventInfo"
      />
    </v-dialog>

    <v-dialog eager v-model="isConditionDialogVisible" max-width="750px" persistent>
      <ConditionForm :selected-element="selectedElement" @save="saveGatewayCondition" />
    </v-dialog>

    <v-dialog
      eager
      v-if="isCallActivityDialogVisible"
      max-width="750px"
      v-model="isCallActivityDialogVisible"
    >
      <process-form
        :process="process"
        :subprocessId="selectedCallActivityProcessDefinitionsId"
        :importMode="false"
        :selectMode="true"
        @cancel="closeDialog('CallActivity')"
        @set="setCallActivity"
      />
    </v-dialog>

    <v-dialog
      v-if="exportSelectedProcessesDialog"
      v-model="exportSelectedProcessesDialog"
      max-width="500px"
      eager
    >
      <ExportModal
        :loading="exportRunning"
        title="Export selected process"
        text="Please select a format for the file export"
        error="Please select a format"
        :max="max"
        @cancel="exportSelectedProcessesDialog = false"
        @continue="exportSelected"
      />
    </v-dialog>
    <v-dialog eager v-model="isEditConstraintDialogVisible" persistent max-width="1400px">
      <ConstraintEditor
        :show="isEditConstraintDialogVisible"
        title="Task Constraints"
        level="task"
        :elementId="selectedElementId"
        :elementConstraintMapping="elementConstraintMapping"
        @save="addConstraints"
        @close="closeTaskConstraintsDialog"
      />
    </v-dialog>
  </div>
</template>

<script>
import uuid from 'uuid';
import Modeler from 'bpmn-js/lib/Modeler';
import NavigatedViewer from 'bpmn-js/dist/bpmn-navigated-viewer.production.min';

import proceedModdleExtension from '@proceed/bpmn-helper/customSchema.json';

import CliModule from 'bpmn-js-cli/lib';
import { is } from 'bpmn-js/lib/util/ModelUtil';

import * as monaco from 'monaco-editor';
import Ids from 'ids';
import CustomRules from '@/helpers/override-modules/custom-rules.js';
import DisableKeyboardBinding from '@/helpers/override-modules/custom-keyboard-bindings.js';
import DisabledCollapsedSubprocessPopupProvider from '@/helpers/override-modules/disabled-collapsed-subprocess-popup-provider.js';

import {
  getTaskConstraintMappingFromXml,
  getProcessConstraintsFromXml,
} from '@proceed/bpmn-helper';
import { defaultHtml, defaultCss } from '@/assets/user-task.js';
import { exportSelectedProcesses } from '@/helpers/process-export/process-export.js';
import { getMaximumResolution } from '@/helpers/process-export/process-max-resolution.js';

import ScriptingIde from '@/components/scripting-ide/ScriptingIde.vue';
import ProcessConstraintsModal from '@/components/constraints/ProcessConstraintsModal.vue';
import ConstraintEditor from '@/components/constraints/ConstraintEditor.vue';
import ResizableWindow from '@/components/resizable-window/ResizableWindow.vue';
import AlertWindow from '@/components/universal/Alert.vue';
import Confirmation from '@/components/universal/Confirmation.vue';
import FormBuilder from '@/components/form-builder/FormBuilder.vue';
import VariableForm from '@/components/processes/editor/VariableForm.vue';
import VariableToolbar from '@/components/processes/editor/VariableToolbar.vue';
import TimerEventForm from '@/components/processes/editor/TimerEventForm.vue';
import ConditionForm from '@/components/processes/editor/ConditionForm.vue';
import ExportModal from '@/components/processes/ExportModal.vue';
import ProcessForm from '@/components/processes/ProcessForm.vue';
import PropertiesPanel from '@/components/processes/editor/PropertiesPanel.vue';
import { getUpdatedTaskConstraintMapping } from '@/helpers/usertask-helper.js';
import { correctXmlDefinitions } from '@/helpers/xml-checker.js';
import { getBusinessObject } from 'bpmn-js/lib/util/ModelUtil';
import { getFillColor, getStrokeColor } from 'bpmn-js/lib/draw/BpmnRenderUtil';

import { eventHandler } from '@/backend-api/index.js';

import * as customCommands from '../helpers/bpmn-modeler-events/custom-modeler-commands.js';
import * as eventDistribution from '../helpers/bpmn-modeler-events/event-distribution.js';

import { getProcessHierarchy } from '@/helpers/process-hierarchy.js';
import coloredElements from '@/assets/styles/colored-non-executable-elements.lazy.css';
import hiddenElements from '@/assets/styles/hidden-non-executable-elements.lazy.css';

export default {
  name: 'process-bpmn-editor',
  components: {
    ConstraintEditor,
    ScriptingIde,
    ResizableWindow,
    ProcessConstraintsModal,
    VariableForm,
    FormBuilder,
    popup: AlertWindow,
    Confirmation,
    VariableToolbar,
    ExportModal,
    ProcessForm,
    PropertiesPanel,
    TimerEventForm,
    ConditionForm,
  },
  props: {
    processDefinitionsId: {
      type: String,
      required: true,
    },
  },
  computed: {
    config() {
      return this.$store.getters['configStore/config'];
    },
    isElectron() {
      return process.env.IS_ELECTRON;
    },
    isPropertiesPanelVisible: {
      get() {
        return this.$store.getters['userPreferencesStore/getPropertiesPanelVisibility'];
      },
      set(newValue) {
        this.$store.dispatch('userPreferencesStore/setPropertiesPanelVisibility', newValue);
      },
    },
    xml() {
      return this.$store.getters['processEditorStore/xml'];
    },
    name() {
      return this.$store.getters['processEditorStore/processName'];
    },
    process() {
      return this.$store.getters['processStore/processById'](this.processDefinitionsId);
    },
    taskHtmlMapping() {
      return this.$store.getters['processEditorStore/taskHtmlMapping'];
    },
    taskFileNamesGenerator() {
      return new Ids([32, 36, 1]);
    },
    editingVariable() {
      return this.process.variables[this.editVariableIndex];
    },
    selectedElementId() {
      return this.selectedElement ? this.selectedElement.id : undefined;
    },
    /**
     * returns true if the selected element can have constraints
     */
    canHaveConstraints() {
      if (this.selectedElement && this.selectedElement.type) {
        const elements = [
          new RegExp('Task'),
          new RegExp('SubProcess'),
          new RegExp('CallActivity'),
          new RegExp('Gateway'),
          new RegExp('Event'),
          new RegExp('Process'),
        ];
        if (elements.some((expression) => expression.test(this.selectedElement.type))) {
          return true;
        }
      }

      return false;
    },
    /**
     * Checks if some element was selected that needs additional option buttons displayed
     */
    showAdditionalOptions() {
      if (this.selectedElement && this.selectedElement.type) {
        const elements = [
          new RegExp('Task'),
          new RegExp('SubProcess'),
          new RegExp('CallActivity'),
          new RegExp('Gateway'),
          new RegExp('Event'),
          new RegExp('SequenceFlow'),
        ];
        if (elements.some((expression) => expression.test(this.selectedElement.type))) {
          return true;
        }
      }

      return false;
    },
    /**
     * Checks if the selected element can have a condition added to it (sequence flow after a OR/XOR split)
     */
    canHaveCondition() {
      if (this.selectedElement && this.selectedElement.type === 'bpmn:SequenceFlow') {
        // check if the sequence flow is coming from an XOR or OR Gateway
        const { source } = this.selectedElement;
        if (
          (source.type === 'bpmn:ExclusiveGateway' || source.type === 'bpmn:InclusiveGateway') &&
          (!source.businessObject.default ||
            source.businessObject.default.id !== this.selectedElement.id)
        ) {
          return true;
        }
      }

      return false;
    },
    taskHtml() {
      if (this.userTaskFileName) {
        return this.taskHtmlMapping[this.userTaskFileName];
      }

      return undefined;
    },
  },
  data() {
    return {
      nameRules: {
        required: (n) => !!n || 'Name is required',
        counter: (n) => n.length <= 150 || 'Name should not be greater than 150 characters',
      },
      newName: '',
      canvasID: 'canvas_' + uuid.v4(),
      propertiesID: 'properties_' + uuid.v4(),
      isXmlDialogVisible: false,
      xmlViewer: null,
      isAddVariableDialogVisible: false,
      isEditVariableDialogVisible: false,
      editVariableIndex: -1,
      modeler: null,
      isProcessConstraintsDialogVisible: false,
      isDefaultFlowDialogVisible: false,
      isHtmlFormDialogVisible: false,
      isEditConstraintDialogVisible: false,
      isTimerEventDialogVisible: false,
      isConditionDialogVisible: false,
      isEditingProcessName: false,
      timeout: null,
      resetDialog: false,
      confirm: false,
      oldXml: null,
      popupData: {
        body: '',
        display: 'none',
        color: 'error',
      },
      xmlWarningData: {
        body:
          'This process is being edited by multiple users, editing the xml might overwrite other users changes',
        display: 'none',
        color: 'error',
      },
      connectionWarningData: {
        body:
          'You seem to have lost connection to the server. You will not be able to edit the process anymore and will get the latest updates once you are back online',
        display: 'none',
        color: 'error',
      },
      xmlChanged: false,
      downloadProcessDialog: false,
      selectedExtension: '',
      exportSelectedProcessesDialog: false,
      exportRunning: false,
      selectedElement: null,
      elementConstraintMapping: {},
      metaData: {},
      elementDocumentation: '',
      elementFillColor: '#FFFFFFFF',
      elementStrokeColor: '#000000FF',
      isScriptDialogVisible: false,
      isSaveMessageVisible: false,
      selectedCallActivityProcessDefinitionsId: null,
      isCallActivityDialogVisible: false,
      userTaskFileName: '',
      areNonExecutableElementsHidden: false,
      incomingLabelChanged: '',
      queuedLabelChange: null,
      timeDuration: undefined,
      // eventHandling callbacks
      xmlChangedCallback: null,
      bpmnEventCallback: null,
      constraintChangedCallback: null,
      connectionLostCallback: null,
      connectionRecoveredCallback: null,
      max: 10,
      disableEditing: false,
      nonExecutableElementsExplanation:
        'The so called non-executable elements can be used when creating a bpmn diagram, but cannot be executed on the bpmn engine',
      loading: false,
    };
  },
  methods: {
    addConstraints(constraints, element = this.selectedElement, dontPropagate = false) {
      customCommands.addConstraintsToElement(element, constraints, dontPropagate);
    },
    togglePropertiesPanel() {
      this.isPropertiesPanelVisible = !this.isPropertiesPanelVisible;
    },
    hideNonExecutableElements() {
      coloredElements.unuse();
      hiddenElements.use();
      this.areNonExecutableElementsHidden = true;
    },
    showNonExecutableElements() {
      coloredElements.use();
      hiddenElements.unuse();
      this.areNonExecutableElementsHidden = false;
    },
    async showExportDialog() {
      this.max = await getMaximumResolution([this.process]);
      this.exportSelectedProcessesDialog = true;
    },
    async reset() {
      await this.saveXml(this.oldXml);
      this.resetDialog = false;
    },
    async saveScript({ elementId, script }) {
      customCommands.addJSToElement(elementId, script);
    },
    saveGatewayCondition(condition) {
      this.$store.dispatch('processStore/stopEditingTask', {
        taskId: this.selectedElementId,
        processDefinitionsId: this.processDefinitionsId,
      });
      customCommands.addJSToElement(this.selectedElement.id, condition.script);
      this.closeDialog('Condition');
    },
    closeUserTaskForm() {
      this.$store.dispatch('processStore/stopEditingTask', {
        taskId: this.selectedElementId,
        processDefinitionsId: this.processDefinitionsId,
      });
      this.closeDialog('HtmlForm');
    },
    closeScriptEditor() {
      this.$store.dispatch('processStore/stopEditingTask', {
        taskId: this.selectedElementId,
        processDefinitionsId: this.processDefinitionsId,
      });
      this.closeDialog('Script');
    },
    openDefaultFlowDialog() {
      // warn the user if he is about to implicitly delete a condition
      if (
        this.selectedElement.businessObject.conditionExpression &&
        this.selectedElement.businessObject.conditionExpression
      ) {
        this.openDialog('DefaultFlow');
      } else {
        this.makeFlowDefault();
      }
    },
    openDialog(dialogName) {
      this.modeler.get('keyboard').unbind();
      this[`is${dialogName}DialogVisible`] = true;
    },
    closeDialog(dialogName) {
      this.modeler.get('keyboard').bind(document);
      this[`is${dialogName}DialogVisible`] = false;
    },
    openHtmlForm() {
      this.checkIfTaskBlocked();
      this.openDialog('HtmlForm');
    },
    openTaskConstraintEditor() {
      this.checkIfTaskBlocked();
      this.openDialog('EditConstraint');
    },
    openConditionDialog() {
      this.checkIfTaskBlocked();
      this.openDialog('Condition');
    },
    closeTaskConstraintsDialog() {
      this.$store.dispatch('processStore/stopEditingTask', {
        taskId: this.selectedElementId,
        processDefinitionsId: this.processDefinitionsId,
      });
      this.closeDialog('EditConstraint');
    },
    openCallAcvitiyDialog() {
      this.showCallAcvitiyDialog = true;
    },
    openSubprocessModeler() {
      if (this.selectedCallActivityProcessDefinitionsId) {
        this.$emit('addTab', this.selectedCallActivityProcessDefinitionsId);
      }
    },
    async setCallActivity(process) {
      if (process) {
        const calledBpmn = await this.$store.getters['processStore/xmlById'](process.id);
        await customCommands.addCallActivityReference(
          this.selectedElementId,
          calledBpmn,
          process.id
        );
      } else {
        customCommands.removeCallActivityReference(this.selectedElementId);
      }

      this.closeDialog('CallActivity');
    },
    saveXmlAndClose() {
      this.saveXmlFromXmlViewer();
      this.closeDialog('Xml');
      this.xmlChanged = false;
    },
    toggleXMLViewer() {
      if (!this.isXmlDialogVisible) {
        this.showXml();
      } else {
        this.closeDialog('Xml');
      }
    },
    showXml() {
      this.oldXml = this.xml;
      const contentWindow = document.getElementById('content');
      contentWindow.style.overflowX = 'hidden';
      if (this.process.inEditingBy && this.process.inEditingBy.length > 1) {
        this.xmlWarningData.display = 'block';
      }

      this.openDialog('Xml');
    },
    checkIfTaskBlocked() {
      this.$store.dispatch('processStore/startEditingTask', {
        taskId: this.selectedElementId,
        processDefinitionsId: this.processDefinitionsId,
      });
    },
    saveHTML(htmlObject, taskId = this.selectedElementId) {
      const html = `<html><head><style>${htmlObject.css}</style></head> <body>${htmlObject.html}</body> </html>`;
      const fileName = this.userTaskFileName;

      if (!fileName) {
        throw new Error('No user task fileName to store html with!');
      }

      this.$store.dispatch('processStore/saveUserTask', {
        processDefinitionsId: this.process.id,
        html: html,
        taskFileName: fileName,
      });

      this.$store.dispatch('processEditorStore/setTaskHtmlMapping', {
        elementID: this.userTaskFileName,
        html,
      });

      this.addConstraints(
        getUpdatedTaskConstraintMapping(this.elementConstraintMapping[taskId], html)
      );
    },
    async saveName() {
      if (this.$refs['process-name'].validate()) {
        // change info in store and backend
        await this.$store.dispatch('processStore/updateProcessName', {
          id: this.process.id,
          name: this.newName,
        });

        // change info in local xml
        customCommands.setName(this.newName);

        const nameInput = this.$refs['name-input'];
        if (nameInput) nameInput.blur();

        this.newName = '';
      }

      this.isEditingProcessName = false;
    },
    showEditProcessName() {
      this.isEditingProcessName = true;
      this.newName = this.name;
    },
    async saveVariables(variables) {
      await this.$store.dispatch('processStore/updateVariables', {
        id: this.process.id,
        variables: variables,
      });
      this.showSaveMessage();
    },
    async addVariable(newVar) {
      const newVars = this.process.variables;
      if (!newVars.some((variable) => variable.name === newVar.name)) {
        newVars.push(newVar);
        await this.saveVariables(newVars);
        this.closeDialog('AddVariable');
      }
    },
    async editVariable(tab) {
      await this.$nextTick();
      this.editVariableIndex = tab;
      this.openDialog('EditVariable');
    },
    async deleteVariable() {
      const newVars = this.process.variables.filter(
        (variable) => variable.name != this.process.variables[this.editVariableIndex].name
      );
      await this.saveVariables(newVars);
      this.closeVariableEditor();
    },
    async updateVariable(updateVar) {
      this.process.variables[this.editVariableIndex] = updateVar;
      await this.saveVariables();
      this.closeVariableEditor();
    },
    closeVariableEditor() {
      this.editVariableIndex = -1;
      this.closeDialog('EditVariable');
    },
    openPopup() {
      if (!this.resetDialog) {
        this.popupData.display = 'block';
      }
    },
    openScriptDialog() {
      this.checkIfTaskBlocked();
      this.openDialog('Script');
    },
    async setupModeler() {
      this.modeler = new Modeler({
        container: '#' + this.canvasID,
        keyboard: { bindTo: document },

        additionalModules: [
          CliModule,
          CustomRules,
          DisableKeyboardBinding,
          DisabledCollapsedSubprocessPopupProvider,
        ],
        moddleExtensions: {
          proceed: proceedModdleExtension,
        },
      });

      customCommands.registerModeler(this.modeler);
      eventDistribution.registerModeler(this.modeler);
      eventDistribution.setProcessDefinitionsId(this.processDefinitionsId);
      eventDistribution.activateDistribution();

      const xml = correctXmlDefinitions(this.xml, this.process.id);
      if (xml) {
        this.saveXml(xml);
      }
      try {
        const result = await this.modeler.importXML(xml || this.xml);
        this.loading = false;
      } catch (err) {
        this.popupData.body = '--> Error importing BPMN XML';
        this.popupData.color = 'error';
        this.openPopup();
        return;
      }
      // initializing constraintMapping from xml
      const canvas = this.modeler.get('canvas');
      const elementRegistry = this.modeler.get('elementRegistry');
      const processElement = canvas.getRootElement();
      const processConstraints = await getProcessConstraintsFromXml(this.xml);
      const taskConstraintMapping = await getTaskConstraintMappingFromXml(this.xml);
      taskConstraintMapping[processElement.id] = processConstraints;
      this.elementConstraintMapping = taskConstraintMapping;

      this.modeler.on('commandStack.postExecuted', 0, async ({ command, context }) => {
        if (command === 'element.updateMetaData' && context.element === this.selectedElement) {
          this.metaData = customCommands.getMetaData(this.selectedElement);
        }

        if (command === 'element.updateDocumentation' && context.element === this.selectedElement) {
          this.elementDocumentation = customCommands.getDocumentation(this.selectedElement);
        }

        if (
          command === 'element.updateEventDefinition' &&
          context.elementId === this.selectedElementId
        ) {
          if (context.hasOwnProperty('newTimerCondition')) {
            this.timeDuration = context.newTimerCondition.body;
          }
        }

        if (command === 'element.updateLabel') {
          const { businessObject } = context.element;
          // if the element is some kind of event
          if (businessObject.eventDefinitions && businessObject.eventDefinitions.length > 0) {
            const [eventDefinition] = businessObject.eventDefinitions;
            if (
              !context.isExternalEvent &&
              (eventDefinition.$type === 'bpmn:ErrorEventDefinition' ||
                eventDefinition.$type === 'bpmn:EscalationEventDefinition')
            ) {
              // label of error/escalation updated (created/updated/deleted) => update error/escalation ref
              // this happens implicitly before removing/replacing an event => don't need to separatly handle that case
              const refId = this.taskFileNamesGenerator.next();
              customCommands.updateErrorOrEscalation(
                businessObject.id,
                refId,
                context.newLabel,
                true
              );
            }
          }
        }
      });

      const eventBus = this.modeler.get('eventBus');

      eventBus.on('commandStack.changed', async () => {
        this.saveXmlFromModeler();
      });

      eventBus.on('commandStack.shape.delete.canExecute', 10000, ({ context }) => {
        const { shape, isExternalEvent } = context;
        // deletion of labels is trigerred by other events that get distributed too => prevent label from being deleted twice
        if (isExternalEvent && shape.includes('_label')) {
          return false;
        }
      });

      // cleanup before removing an element
      eventBus.on('commandStack.shape.delete.preExecute', 10000, ({ context }) => {
        let { shape } = context;

        if (shape.type === 'bpmn:UserTask') {
          if (!context.isExternalEvent) {
            this.$store.dispatch('processStore/deleteUserTask', {
              processDefinitionsId: this.processDefinitionsId,
              taskId: shape.businessObject.fileName,
            });
          }
        }
      });

      eventBus.on('commandStack.shape.replace.preExecute', 10000, ({ context }) => {
        const { oldShape } = context;

        if (oldShape.type === 'bpmn:UserTask') {
          this.userTaskFileName = undefined;

          if (context.newData) {
            context.newData.businessObject.fileName = undefined;
          }
        }
      });

      const modeling = this.modeler.get('modeling');

      eventBus.on('commandStack.shape.replace.postExecute', async ({ context }) => {
        const { newShape, oldShape } = context;

        // make sure that the label has the id of the element so the id will always be the same on all machines
        // normally it would have id of the type [intermediate-element-id]_label which would differ from machine to machine
        if (newShape.labels && newShape.labels.length) {
          newShape.labels.forEach((label) => {
            label.labelTarget = oldShape;
            label.businessObject = oldShape.businessObject;
          });
          oldShape.labels.forEach((label) => {
            label.labelTarget = newShape;
            label.businessObject = newShape.businessObject;
          });
        }

        // clear commandStack so that these events get distributed
        await new Promise((resolve) => setTimeout(resolve));

        if (newShape.type === 'bpmn:UserTask' && !context.isExternalEvent) {
          customCommands.setUserTaskFileName(
            newShape.id,
            `User_Task_${this.taskFileNamesGenerator.next()}`
          );
        }

        const { businessObject, id: elementId } = newShape;
        // if the element is some kind of event
        if (businessObject.eventDefinitions && businessObject.eventDefinitions.length > 0) {
          const [eventDefinition] = businessObject.eventDefinitions;
          if (
            !context.isExternalEvent &&
            (eventDefinition.$type === 'bpmn:ErrorEventDefinition' ||
              eventDefinition.$type === 'bpmn:EscalationEventDefinition')
          ) {
            // element became an error or escalation event => create reference to error or escalation based on its name
            const refId = this.taskFileNamesGenerator.next();
            customCommands.updateErrorOrEscalation(elementId, refId, businessObject.name);
          }
        }
        if (!context.isExternalEvent && oldShape.type === 'bpmn:UserTask') {
          let constraints = this.elementConstraintMapping[oldShape.id];
          if (constraints.hardConstraints) {
            constraints.hardConstraints = constraints.hardConstraints.filter(
              (h) => h.name !== 'machine.outputs' || h.values[0].value !== 'Screen'
            );
            constraints.hardConstraints = constraints.hardConstraints.filter(
              (h) => h.name !== 'machine.online'
            );
            const elementRegistry = this.modeler.get('elementRegistry');
            this.addConstraints(constraints, elementRegistry.get(oldShape.id), true);
          }
        }
      });

      eventBus.on('commandStack.element.updateProperties.postExecute', ({ context }) => {
        const { element, properties, oldProperties, additionalInfo, dontPropagate } = context;

        if (properties && additionalInfo && additionalInfo.constraints) {
          this.elementConstraintMapping[element.id] = additionalInfo.constraints;
          if (!dontPropagate) {
            this.$store.dispatch('processStore/updateConstraints', {
              processDefinitionsId: this.process.id,
              elementId: element.id,
              constraints: additionalInfo.constraints,
            });
          }
        }

        if (this.selectedElement.type === 'bpmn:CallActivity' && element === this.selectedElement) {
          if (properties.calledElement) {
            this.selectedCallActivityProcessDefinitionsId = customCommands.getDefinitionsIdForCallActivity(
              this.selectedElement.id
            );
          } else {
            this.selectedCallActivityProcessDefinitionsId = undefined;
          }
        }

        if (element.type === 'bpmn:UserTask' && properties.fileName) {
          this.userTaskFileName = properties.fileName;
          // create new file for newly added filename
          if (properties.fileName !== oldProperties.fileName && !context.isExternalEvent) {
            const code = {};
            code.html = defaultHtml;
            code.css = defaultCss;
            this.saveHTML(code, element.id);
          }
        }
      });

      eventBus.on('commandStack.definitions.updateProperties.postExecute', ({ context }) => {
        const { properties, oldProperties } = context;

        if (properties.name && properties.name !== oldProperties.name) {
          this.$store.dispatch('processEditorStore/setProcessName', {
            name: properties.name,
          });
        }
      });
      const elements = elementRegistry.filter((element) => {
        return !is(element, 'bpmn:Process');
      });
      if (elements.length > 1) {
        canvas.zoom('fit-viewport', 'auto');
      } else {
        canvas.zoom('fit-viewport', 0, 0);
      }

      let el = canvas.getRootElement();

      this.selectedElement = el;

      this.metaData = customCommands.getMetaData(el);
      this.elementDocumentation = customCommands.getDocumentation(el);

      eventBus.on('selection.changed', ({ newSelection }) => {
        this.selectedCallActivityProcessDefinitionsId = null;
        this.selectedElement = null;
        this.userTaskFileName = null;
        this.timeDuration = undefined;

        let selected;
        if (newSelection.length === 1) {
          [selected] = newSelection;
        } else {
          selected = canvas.getRootElement();
        }
        this.selectBpmnElement(selected);
      });
    },
    async updateMetaData(info) {
      customCommands.updateMetaData(info.elementId, info.metaData);
    },
    async updateDocumentation(info) {
      customCommands.updateDocumentation(info.elementId, info.documentation);
      if (this.process.processIds.includes(info.elementId)) {
        const process = {
          ...this.process,
          description: info.documentation,
        };
        await this.$store.dispatch('processStore/update', { process });
      }
    },
    async updateBackgroundColor(info) {
      const modeling = this.modeler.get('modeling');
      modeling.setColor(info.element, {
        fill: info.color,
      });
    },
    async updateStrokeColor(info) {
      const modeling = this.modeler.get('modeling');
      modeling.setColor(info.element, {
        stroke: info.color,
      });
    },
    async saveTimerEventInfo(info) {
      customCommands.updateTimer(this.selectedElementId, info.formalExpression);
      this.closeDialog('TimerEvent');
    },
    async selectBpmnElement(element) {
      this.selectedElement = element;

      if (element && element.type === 'bpmn:CallActivity') {
        this.selectedCallActivityProcessDefinitionsId = customCommands.getDefinitionsIdForCallActivity(
          element.id
        );
      }

      if (element && element.type === 'bpmn:UserTask') {
        this.userTaskFileName = element.businessObject.fileName;
      }

      if (element && this.canHaveConstraints && !this.elementConstraintMapping[element.id]) {
        // make the newly created mapping entry reactive so that it allows the constraint editor to react to changes to it
        this.$set(this.elementConstraintMapping, element.id, {
          hardConstraints: [],
          softConstraints: [],
        });
      }

      const businessObject = getBusinessObject(this.selectedElement);
      // if the selected element is some kind of event
      if (businessObject.eventDefinitions && businessObject.eventDefinitions.length > 0) {
        const [eventDefinition] = businessObject.eventDefinitions;

        if (eventDefinition.$type === 'bpmn:TimerEventDefinition') {
          this.timeDuration = '';
          if (eventDefinition.timeDuration && eventDefinition.timeDuration.body) {
            this.timeDuration = eventDefinition.timeDuration.body;
          }
        }
      }

      this.metaData = customCommands.getMetaData(element);

      this.elementDocumentation = customCommands.getDocumentation(element);
      if (element && element.type !== 'bpmn:Process') {
        this.elementFillColor = getFillColor(element, '#FFFFFFFF');
        this.elementStrokeColor = getStrokeColor(element, '#000000FF');
      }
    },
    async setupXmlViewer() {
      this.xmlViewer = monaco.editor.create(document.getElementById('xml-container'), {
        language: 'xml',
        theme: 'vs-light',
        glyphMargin: true,
        automaticLayout: true,
        scrollBeyondLastLine: false,
        overviewRulerLanes: 0,
        hideCursorInOverviewRuler: true,
        overviewRulerBorder: false,
        minimap: {
          enabled: false,
        },
      });
      this.xmlViewer.setValue(this.xml);
      if (!process.env.IS_ELECTRON) {
        const dbs = document.getElementById(this.canvasID).childNodes[0];
        const djs = dbs.getElementsByClassName('djs-container')[0];
        const svg = djs.getElementsByTagName('svg')[0];
        svg.classList.add('svg-height-fix');
      }
    },
    async saveXml(xml, name = this.name) {
      await this.$store.dispatch('processEditorStore/setXml', {
        xml,
      });

      await this.$store.dispatch('processStore/updateBpmn', {
        id: this.process.id,
        name: this.process.name,
        bpmn: xml,
      });
      this.showSaveMessage();
      clearTimeout(this.timeout);
      this.autoClose();
    },
    showSaveMessage() {
      this.isSaveMessageVisible = true;
      setTimeout(() => {
        this.isSaveMessageVisible = false;
      }, 3000);
    },
    async reloadModelerXml() {
      try {
        const { warnings } = await this.modeler.importXML(this.xml);
        if (warnings && warnings.length) {
          console.warn(warnings);
        }
        this.oldXml = this.xml;
      } catch (err) {
        console.error(err);
        this.popupData.body = '--> Error importing BPMN XML';
        this.popupData.color = 'error';
        this.openPopup();
      }
    },
    async saveXmlFromModeler() {
      try {
        const { xml, warnings } = await this.modeler.saveXML({ format: true });
        if (warnings && warnings.length) {
          console.warn(warnings);
        }

        await this.saveXml(xml);
      } catch (err) {
        console.error(err);
        this.popupData.body = '--> Error in Xml';
        this.popupData.color = 'error';
        this.openPopup();
      }
    },
    async saveXmlFromXmlViewer() {
      const xml = this.xmlViewer.getValue();
      this.$store.dispatch('processStore/updateWholeXml', {
        id: this.processDefinitionsId,
        bpmn: xml,
      });

      this.saveXml(xml);
      this.reloadModelerXml();
    },
    async exportSelected(selectedOption) {
      if (!selectedOption) {
        this.exportSelectedProcessesDialog = true;
        return;
      }

      let selectedProcesses = [
        {
          ...this.process,
          bpmn: this.xml,
          userTasks: this.taskHtmlMapping,
        },
      ];
      this.exportRunning = true;
      const allProcesses = await this.$store.getters['processStore/processes'];
      await exportSelectedProcesses(allProcesses, selectedProcesses, selectedOption);
      this.exportSelectedProcessesDialog = false;
      this.exportRunning = false;
    },
    autoClose() {
      if (!process.env.IS_ELECTRON) {
        this.timeout = setTimeout(() => {
          this.$emit('inactivityTimeout');
          this.$store.commit('warningStore/setWarning', true);
        }, this.config.closeOpenEditorsInMs || 300000);
      }
    },
    resetTimeout() {
      clearTimeout(this.timeout);
      this.autoClose();
    },
    makeFlowDefault() {
      if (!this.canHaveCondition) {
        return;
      }
      const modeling = this.modeler.get('modeling');

      modeling.updateProperties(this.selectedElement.source, {
        default: this.selectedElement.businessObject,
      });
      // refresh selected element to trigger recalculation of canHaveCondition
      const selected = this.selectedElement;
      this.selectedElement = undefined;
      this.selectedElement = selected;
      this.closeDialog('DefaultFlow');
    },
  },
  beforeMount() {
    this.loading = true;
    coloredElements.use();
    const process = this.$store.getters['processStore/processById'](this.processDefinitionsId);
    if (process) {
      this.resolver = this.$store.dispatch('processEditorStore/loadProcessFromStore', {
        process,
      });
    } else {
      this.$router.back();
    }
  },
  async mounted() {
    try {
      await this.resolver;
      this.setupModeler();
      this.setupXmlViewer();
      this.autoClose();
    } catch (reason) {
      console.error(reason);

      this.popupData.body = 'Error importing process BPMN XML';
      this.popupData.color = 'error';
      this.openPopup();
    }
    this.xmlChangedCallback = eventHandler.on(
      'processXmlChanged',
      async ({ processDefinitionsId, newXml }) => {
        if (processDefinitionsId === this.processDefinitionsId) {
          await this.$store.dispatch('processEditorStore/setXml', { xml: newXml });
          this.reloadModelerXml();
        }
      }
    );
    this.bpmnEventCallback = eventHandler.on(
      'processBPMNEvent',
      ({ processDefinitionsId, type, context }) => {
        console.log(type, context);
        if (this.modeler && this.processDefinitionsId === processDefinitionsId) {
          eventDistribution.applyExternalEvent(type, context);
        }
      }
    );
    this.constraintChangedCallback = eventHandler.on(
      'elementConstraintsChanged',
      ({ processDefinitionsId, elementId, constraints }) => {
        if (this.modeler && this.process.id === processDefinitionsId) {
          const elementRegistry = this.modeler.get('elementRegistry');
          this.addConstraints(constraints, elementRegistry.get(elementId), true);
        }
      }
    );
    this.connectionLostCallback = eventHandler.on('connectionLost', async ({ reason }) => {
      console.log(reason);
      this.connectionWarningData.display = 'block';
      this.modeler.destroy();
      this.modeler = new NavigatedViewer({
        container: '#' + this.canvasID,
        moddleExtensions: {
          proceed: proceedModdleExtension,
        },
      });
      try {
        const { warnings } = await this.modeler.importXML(this.xml);
        if (warnings && warnings.length) {
          console.warn(warnings);
        }
        this.viewer.get('canvas').zoom('fit-viewport', 'auto');
      } catch (err) {
        console.error(err);
      }
      this.disableEditing = true;
    });
    this.connectionRecoveredCallback = eventHandler.on('reconnected', async ({ attempt }) => {
      console.log(attempt);
      const newestXml = await this.$store.getters['processStore/xmlById'](
        this.processDefinitionsId
      );
      await this.saveXml(newestXml);
      this.modeler.destroy();
      this.setupModeler();
      this.disableEditing = false;
    });
    document.addEventListener('mousemove', this.resetTimeout, { passive: true });
  },
  beforeDestroy() {
    if (this.modeler) {
      this.modeler.destroy();
    }
    if (this.xmlViewer) {
      this.xmlViewer.dispose();
    }
    document.removeEventListener('mousemove', this.resetTimeout, { passive: true });
    clearTimeout(this.timeout);
    eventHandler.off('processXmlChanged', this.xmlChangedCallback);
    eventHandler.off('processBPMNEvent', this.bpmnEventCallback);
    eventHandler.off('elementConstraintsChanged', this.constraintChangedCallback);
    eventHandler.off('lost_connection', this.connectionLostCallback);
    eventHandler.off('reconnected', this.connectionRecoveredCallback);
    this.$store.dispatch('processStore/stopEditing', {
      id: this.processDefinitionsId,
    });
  },
  watch: {
    async xml() {
      if (this.modeler) {
        this.xmlViewer.setValue(this.xml);
        const subprocesses = await getProcessHierarchy(this.xml);
        if (JSON.stringify(subprocesses) !== JSON.stringify(this.process.subprocesses)) {
          this.$store.dispatch('processStore/updateSubprocessInfo', {
            processDefinitionsId: this.processDefinitionsId,
            subprocesses,
          });
        }
      }
    },
    async process(newProcess, oldProcess) {
      if (!newProcess) return;
      if (newProcess.id === oldProcess.id) return;
      if (oldProcess && oldProcess.id) {
        this.$store.dispatch('processStore/stopObservingEditing', {
          id: newProcess.id,
        });
        this.$store.dispatch('processStore/stopEditing', {
          id: oldProcess.id,
        });
      }
      if (newProcess && newProcess.id) {
        this.$store.dispatch('processStore/startObservingEditing', {
          id: oldProcess.id,
        });
        this.$store.dispatch('processStore/startEditing', {
          id: newProcess.id,
        });
      }
      await this.$store.dispatch('processEditorStore/loadProcessFromStore', {
        process: this.process,
      });
      await this.$nextTick();
      const xml = correctXmlDefinitions(this.xml, newProcess.id);
      if (xml) {
        await this.saveXml(xml);
      }
      await this.reloadModelerXml();
      const elRegistry = this.modeler.get('elementRegistry');
      const elements = elRegistry.filter((element) => {
        return !is(element, 'bpmn:Process');
      });
      if (elements.length > 1) {
        this.modeler.get('canvas').zoom('fit-viewport', 'auto');
      } else {
        this.modeler.get('canvas').zoom('fit-viewport', 0, 0);
      }
      eventDistribution.setProcessDefinitionsId(newProcess.id);
      if (this.isXmlDialogVisible) this.xmlViewer.setValue(this.xml);
    },
  },
};
</script>

<style lang="scss">
/* https://sass-lang.com/documentation/syntax#scss */

.diagram-container {
  width: 100%;
  height: 100%;
}

.select-user-icon:before {
  content: '\F004';
  font: normal normal normal 20px 'Material Design Icons';
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
}

.task-edit-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.append-users-or-roles {
  visibility: visible !important;
}

.bpmn-icon-sequential-mi-marker::after {
  position: relative;
  top: 3.25px;
  left: 3px;
  display: inline-block;
  content: ' ';
  width: 14px;
  height: 14px;
  border-radius: 7.5px;
}

.bpmn-icon-sequential-mi-marker.connected::after {
  background-color: #0a0;
}

.bpmn-icon-sequential-mi-marker.disconnected::after {
  background-color: #c22;
}

#dialog-content {
  position: relative;
}

#capability-container {
  position: absolute;
  top: -50px;
  right: 0px;
  display: inline-block;
  max-width: 50%;
  height: 110%;
  border-left: 1px solid #c0c0c0;
}

.htmlDialog {
  height: 604px;
}

#revertDialog {
  position: fixed;
  top: 50vh;
  z-index: 998;
  left: 50%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-toolbar {
  flex-grow: 0;
  flex-basis: 0;
}

.flex-content {
  flex-grow: 1;
  flex-basis: auto;
}

.history-mode-overlay {
  z-index: 1;
  margin: 10px;
  box-shadow: none;
  position: absolute;
  right: 0;
}

.properties-panel {
  z-index: 1;
  position: absolute;
  overflow-y: scroll;
  top: 180px;
  right: 10px;
}
.properties-toggle {
  z-index: 1;
  position: absolute;
  top: 140px;
  right: 10px;
}
.svg-height-fix {
  height: calc(100vh - 168px) !important;
}

.loading-message {
  position: absolute;
  bottom: 40%;
  left: 50%;
  right: 50%;
}
</style>
