<template>
  <v-dialog v-model="dialog" hide-overlay max-width="500">
    <v-alert :type="alertType" :color="popupData.color" dark prominent class="ma-0">
      {{ popupData.body }}
      <slot></slot>
    </v-alert>
  </v-dialog>
</template>

<script>
export default {
  props: {
    popupData: Object,
    centered: { type: Boolean, default: true },
  },
  data() {
    return {};
  },
  computed: {
    alertType() {
      const availableTypes = ['success', 'info', 'warning', 'error'];
      if (availableTypes.includes(this.popupData.color)) {
        return this.popupData.color;
      } else {
        return undefined;
      }
    },
    dialog: {
      get() {
        return this.popupData.display !== 'none';
      },
      set(newValue) {
        if (!newValue) {
          this.closeFunction();
        } else {
          this.popupData.display = 'block';
        }
      },
    },
  },
  methods: {
    closeFunction() {
      this.popupData.display = 'none';
      if (this.popupData.body === '--> Error importing BPMN XML') {
        this.$emit('close');
      }
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
html,
body {
  padding: 0;
  margin: 0;
}
#popup {
  position: fixed;
  top: 40vh;
  z-index: 1000;
}
.center {
  left: 50%;
}
#title {
  font-size: 1.1em;
  color: white;
}
</style>
