<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="headline">Gateway Condition</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-form ref="condition-form" lazy-validation @submit.prevent>
            <div id="monaco-xor-condition" />
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="saveCondition">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
import { getBusinessObject } from 'bpmn-js/lib/util/ModelUtil';
import * as monaco from 'monaco-editor';

export default {
  name: 'ConditionForm',
  props: {
    selectedElement: { type: Object },
  },
  data() {
    return {
      condition: null,
      editor: null,
    };
  },
  computed: {},
  methods: {
    saveCondition() {
      const obj = getBusinessObject(this.selectedElement);
      if (obj.$type === 'bpmn:SequenceFlow') {
        this.$emit('save', { script: this.editor.getValue() });
      }
    },
  },
  watch: {
    selectedElement() {
      const obj = getBusinessObject(this.selectedElement);
      if (obj.$type === 'bpmn:SequenceFlow') {
        this.condition = obj.conditionExpression ? obj.conditionExpression.body : '';
        if (!this.editor) {
          this.editor = monaco.editor.create(document.getElementById('monaco-xor-condition'), {
            value: this.condition,
            language: 'javascript',
            theme: 'vs-light',
            automaticLayout: true,
            fontSize: 18,
            wordWrap: 'off',
            lineNumbers: 'off',
            lineNumbersMinChars: 0,
            overviewRulerLanes: 0,
            overviewRulerBorder: false,
            lineDecorationsWidth: 0,
            hideCursorInOverviewRuler: true,
            glyphMargin: false,
            folding: false,
            scrollBeyondLastColumn: 0,
            scrollbar: { horizontal: 'hidden', vertical: 'hidden' },
            find: {
              addExtraSpaceOnTop: false,
              autoFindInSelection: 'never',
              seedSearchStringFromSelection: false,
            },
            minimap: { enabled: false },
          });
        } else {
          this.editor.setValue(this.condition);
        }

        this.editor.onKeyDown((e) => {
          if (e.keyCode == monaco.KeyCode.Enter) {
            // We only prevent enter when the suggest model is not active
            if (this.editor.getContribution('editor.contrib.suggestController').model.state == 0) {
              e.preventDefault();
            }
          }
        });
      }
    },
  },
  mounted() {},
};
</script>
<style scoped>
#monaco-xor-condition {
  border: 1px solid grey;
  width: 100%;
  height: 24px !important;
}
</style>
