<template>
  <v-menu
    v-if="process"
    content-class="tab-menu"
    open-on-hover
    offset-y
    bottom
    tile
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-tab v-bind="attrs" v-on="on">
        <div class="tab-title">
          <div
            :class="{
              'text-subtitle-1': true,
              'grey--text': false,
            }"
          >
            <span v-if="title.length < 20">
              {{ title }}
            </span>
            <v-tooltip v-else bottom>
              <template v-slot:activator="{ on }">
                <span v-on="on">{{ title.substr(0, 20) }}...</span>
              </template>
              <span> {{ title }}</span>
            </v-tooltip>
          </div>
        </div>
        <v-btn icon x-small class="ml-3" @click="$emit('deleteTab')"
          ><v-icon>mdi-close</v-icon>
        </v-btn>
      </v-tab>
    </template>
    <SubprocessesTreeView
      style="background-color: white"
      :process="process"
      :isDynamicSelection="false"
      @click="openItem"
    />
  </v-menu>
</template>

<script>
import SubprocessesTreeView from '@/components/processes/subprocesses/SubprocessesTreeview.vue';

export default {
  name: 'ProcessTab',
  components: { SubprocessesTreeView },
  props: {
    processDefinitionsId: {
      type: String,
      required: true,
      validator: (value) => value.startsWith('_'),
    },
  },
  data: () => ({ unnamedLabel: 'Unnamed' }),
  computed: {
    process() {
      return this.$store.getters['processStore/processById'](this.processDefinitionsId);
    },
    title() {
      return this.process.name;
    },
  },
  watch: {},
  methods: {
    openItem(item) {
      this.$emit('addTab', { processDefinitionsId: item.id });
    },
  },
};
</script>
