<template>
  <Confirmation noButtons @cancel="$emit('cancel')">
    <template v-slot:title>
      Processes
      <v-btn-toggle v-model="processViewMode" class="ml-3" color="primary" mandatory dense group>
        <v-btn value="table">
          <v-icon>mdi-format-align-justify</v-icon>
        </v-btn>
        <v-btn value="card">
          <v-icon>mdi-apps</v-icon>
        </v-btn>
      </v-btn-toggle>
    </template>
    <div>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        :disabled="!mappedProcesses || mappedProcesses.length === 0"
        clearable
      ></v-text-field>

      <v-divider />

      <ProcessCardList
        v-if="processViewMode === 'card'"
        simpleView
        :isDeploymentMode="isDeploymentMode"
        :processes="mappedProcesses"
        :search.sync="search"
        :expanded.sync="expanded"
        :showFavoriteList.sync="showFavoriteList"
        :callToActionText="callToActionText"
        @editBpmn="editBpmn"
        @dynamicDeployment="$emit('dynamicDeployment', $event)"
        @staticDeployment="$emit('staticDeployment', $event)"
      />
      <ProcessDataTable
        v-else-if="processViewMode === 'table'"
        simpleView
        :isDeploymentMode="isDeploymentMode"
        :processes="mappedProcesses"
        :search.sync="search"
        :expanded.sync="expanded"
        :showFavoriteList.sync="showFavoriteList"
        :callToActionText="callToActionText"
        @editBpmn="editBpmn"
        @staticDeployment="$emit('staticDeployment', $event)"
        @dynamicDeployment="$emit('dynamicDeployment', $event)"
      />
    </div>
  </Confirmation>
</template>

<script>
import Confirmation from '@/components/universal/Confirmation.vue';
import ProcessCardList from '@/components/processes/cards/ProcessCardList.vue';
import ProcessDataTable from '@/components/processes/datatable/ProcessDatatable.vue';

export default {
  name: 'new-tab-modal',
  components: {
    Confirmation,
    ProcessCardList,
    ProcessDataTable,
  },
  props: {
    callToActionText: { type: String, required: false },
    isDeploymentMode: { type: Boolean, required: false, default: false },
  },
  computed: {
    showFavoriteList: {
      get() {
        return this.$store.getters['userPreferencesStore/getShowFavoritesProcessView'];
      },
      set(newValue) {
        this.$store.dispatch('userPreferencesStore/setShowFavoritesProcessView', newValue);
        this.expanded = [];
      },
    },
    processViewMode: {
      get() {
        return this.$store.getters['userPreferencesStore/getSelectedProcessView'];
      },
      set(newValue) {
        this.$store.dispatch('userPreferencesStore/setSelectedProcessView', newValue);
      },
    },
    departments() {
      return this.$store.getters['departmentStore/getDepartments'];
    },
    favorites() {
      return this.$store.getters['userPreferencesStore/getUserFavorite'];
    },
    processes() {
      return this.$store.getters['processStore/processes'];
    },
    mappedProcesses() {
      if (!this.processes) return [];

      let processes = this.processes.map((process) => {
        return {
          ...process,
          departments: process.departments
            ? process.departments.map((department) => {
                return {
                  name: department,
                  color: this.getDepartmentColor(department),
                };
              })
            : '',
          isFavorite: this.favorites.includes(process.id),
        };
      });

      if (this.showFavoriteList) {
        processes = processes.filter((process) => process.isFavorite);
      }

      return processes;
    },
  },
  data() {
    return {
      search: '',
      expanded: [],
    };
  },
  watch: {
    search() {
      this.expanded = [];
    },
    processViewMode() {
      this.expanded = [];
    },
  },
  methods: {
    editBpmn(process) {
      if (process) {
        this.$emit('click:bpmnPreview', process.id);
      }
    },
    getDepartmentColor(departmentName) {
      return this.departments
        .filter((department) => department.name === departmentName)
        .map((department) => department.color)
        .pop();
    },
  },
};
</script>
