<template>
  <v-card class="panel rounded-sm" elevation="0" max-width="30%" max-height="65%">
    <v-card-title class="text-center justify-center py-6">
      <h3>{{ businessObject.name ? businessObject.name : businessObject.id }}</h3>
    </v-card-title>
    <v-form>
      <v-container class="General">
        <p class="font-weight-medium">General</p>
        <v-text-field disabled label="Name" v-model="businessObject.name" filled />
        <v-text-field disabled label="Id" filled v-model="businessObject.id" />
        <!-- <v-text-field label="Documentation" v-model="element.documentation" filled></v-text-field> -->
      </v-container>
      <v-container class="Properties">
        <p class="font-weight-medium">Properties</p>
        <v-text-field
          label="Maximum Cost (in €)"
          :disabled="disableEditing"
          :placeholder="meta.cost ? meta.cost : 'e.g. 100'"
          v-model="meta.cost"
          background-color="white"
          @blur="emitChange('cost')"
          filled
        />
        <v-text-field
          label="Planned Duration"
          :disabled="disableEditing"
          :placeholder="
            meta.timePlannedDuration
              ? meta.timePlannedDuration
              : 'e.g. PT2H30M, P2M10D, P1Y2M3DT4H30M12S'
          "
          v-model="meta.timePlannedDuration"
          background-color="white"
          @blur="emitChange('timePlannedDuration')"
          filled
        />
        <v-text-field
          label="Planned Occurrence"
          :disabled="disableEditing"
          :placeholder="
            meta.timePlannedOccurrence ? meta.timePlannedOccurrence : 'e.g.2015-06-26T09:54:00'
          "
          v-model="meta.timePlannedOccurrence"
          @blur="emitChange('timePlannedOccurrence')"
          background-color="white"
          filled
        />
      </v-container>
      <v-container class="Documentation">
        <p class="font-weight-medium">Documentation</p>
        <v-textarea
          :disabled="disableEditing"
          label="Element Documentation"
          background-color="white"
          v-model="elementDocumentation"
          @blur="emitDocumentation"
          filled
        />
      </v-container>
      <v-container v-if="element.type !== 'bpmn:Process'" class="Colors">
        <p class="font-weight-medium">Colors</p>
        <p v-if="element.type !== 'bpmn:SequenceFlow'" class="ml-3">Background Color</p>
        <v-color-picker
          :disabled="disableEditing"
          v-if="element.type !== 'bpmn:SequenceFlow'"
          mode="hexa"
          class="v-color-picker__input"
          @input="emitBackgroundColor"
          v-model="backgroundColor"
        ></v-color-picker>
        <p class="ml-3 mt-2">Stroke Color</p>
        <v-color-picker
          :disabled="disableEditing"
          mode="hexa"
          class="v-color-picker__input"
          @input="emitStrokeColor"
          v-model="frameColor"
        ></v-color-picker>
      </v-container>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: 'PropertiesPanel',
  props: {
    element: Object,
    meta: Object,
    documentation: String,
    fillColor: String,
    strokeColor: String,
    disableEditing: Boolean,
  },
  computed: {
    businessObject() {
      if (this.element) {
        return this.element.businessObject;
      }

      return {};
    },
  },
  data() {
    return {
      tab: null,
      elementDocumentation: this.documentation || '',
      backgroundColor: this.fillColor || '#FFFFFFFF',
      frameColor: this.strokeColor || '#000000FF',
    };
  },
  methods: {
    emitChange(type) {
      this.$emit('change', { elementId: this.element.id, metaData: { [type]: this.meta[type] } });
    },
    emitBackgroundColor() {
      this.$emit('saveBackgroundColor', {
        element: this.element,
        color: this.backgroundColor,
      });
    },
    emitStrokeColor() {
      this.$emit('saveStrokeColor', {
        element: this.element,
        color: this.frameColor,
      });
    },
    emitDocumentation() {
      this.$emit('saveDocumentation', {
        elementId: this.businessObject.id,
        documentation: this.elementDocumentation,
      });
    },
  },
  watch: {
    documentation() {
      this.elementDocumentation = this.documentation;
    },
    fillColor() {
      this.backgroundColor = this.fillColor || '#FFFFFFFF';
    },
    strokeColor() {
      this.frameColor = this.strokeColor || '#000000FF';
    },
  },
};
</script>

<style scoped>
.panel {
  width: 40%;
  border: solid 1px #cccccc;
  background: #fafafa;
}
.submit-btn {
  margin: 14px;
}
.v-color-picker__input {
  font-size: 12px !important;
}
</style>
