<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="headline">Timer Event Duration</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-form ref="timer-event-form" lazy-validation @submit.prevent>
            <v-row>
              <v-col cols="2">
                <v-text-field
                  type="number"
                  min="0"
                  :rules="[yearsRule]"
                  v-model="years"
                  label="Years"
                />
              </v-col>
              <v-col cols="2">
                <v-text-field type="number" :rules="[monthsRule]" v-model="months" label="Months" />
              </v-col>
              <v-col cols="2">
                <v-text-field type="number" :rules="[daysRule]" v-model="days" label="Days" />
              </v-col>
              <v-col cols="2">
                <v-text-field type="number" :rules="[hoursRule]" v-model="hours" label="Hours" />
              </v-col>
              <v-col cols="2">
                <v-text-field
                  type="number"
                  :rules="[minutesRule]"
                  v-model="minutes"
                  label="Minutes"
                />
              </v-col>
              <v-col cols="2">
                <v-text-field
                  type="number"
                  :rules="[secondsRule]"
                  v-model="seconds"
                  label="Seconds"
                />
              </v-col>
            </v-row>
            <v-row> </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="calculateTimeFormalExpression">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TimerEventForm',
  props: {
    formalExpression: { type: String, required: true },
  },
  data() {
    return {
      years: null,
      months: null,
      days: null,
      hours: null,
      minutes: null,
      seconds: null,
      yearsRule: (v) => {
        if (v >= 0) return true;
        return 'Year should be a positive number';
      },
      monthsRule: (v) => {
        if (v >= 0 && v <= 12) return true;
        return 'Months should be between 0 and 12';
      },
      daysRule: (v) => {
        if (v >= 0 && v <= 366) return true;
        return 'Days should be between 0 and 31';
      },
      hoursRule: (v) => {
        if (v >= 0 && v <= 24) return true;
        return 'Hours should be between 0 and 24';
      },
      minutesRule: (v) => {
        if (v >= 0 && v <= 60) return true;
        return 'Minutes should be between 0 and 60';
      },
      secondsRule: (v) => {
        if (v >= 0 && v <= 60) return true;
        return 'Seconds should be between 0 and 60';
      },
    };
  },
  computed: {},
  methods: {
    calculateTimeFormalExpression() {
      const dateFormal = `P${this.years ? this.years + 'Y' : ''}${
        this.months ? this.months + 'M' : ''
      }${this.days ? this.days + 'D' : ''}`;
      let timeFormal = '';
      if (this.hours || this.minutes || this.seconds) {
        timeFormal = `T${this.hours ? this.hours + 'H' : ''}${
          this.minutes ? this.minutes + 'M' : ''
        }${this.seconds ? this.seconds + 'S' : ''}`;
      }
      const formalExpression = dateFormal + timeFormal;
      this.years = null;
      this.months = null;
      this.days = null;
      this.hours = null;
      this.minutes = null;
      this.seconds = null;
      this.$emit('save', {
        formalExpression,
      });
    },
    init() {
      let dateStr = this.formalExpression.substring(this.formalExpression.lastIndexOf('P') + 1);
      let timeStr = '';
      if (dateStr.includes('T')) {
        dateStr = this.formalExpression.substring(
          this.formalExpression.lastIndexOf('P') + 1,
          this.formalExpression.lastIndexOf('T')
        );
        timeStr = this.formalExpression.substring(this.formalExpression.lastIndexOf('T') + 1);
      }
      if (dateStr.includes('Y')) {
        const yearsStr = dateStr.substring(0, dateStr.lastIndexOf('Y'));
        this.years = parseInt(yearsStr) || null;
        dateStr = dateStr.substring(dateStr.lastIndexOf('Y') + 1);
      }

      if (dateStr.includes('M')) {
        const monthsStr = dateStr.substring(0, dateStr.lastIndexOf('M'));
        this.months = parseInt(monthsStr) || null;
        dateStr = dateStr.substring(dateStr.lastIndexOf('M') + 1);
      }
      if (dateStr.includes('D')) {
        const daysStr = dateStr.substring(0, dateStr.lastIndexOf('D'));
        this.days = parseInt(daysStr) || null;
      }
      if (timeStr.includes('H')) {
        const hoursStr = timeStr.substring(0, timeStr.lastIndexOf('H'));
        this.hours = parseInt(hoursStr) || null;
        timeStr = timeStr.substring(timeStr.lastIndexOf('H') + 1);
      }
      if (timeStr.includes('M')) {
        const minutesStr = timeStr.substring(0, timeStr.lastIndexOf('M'));
        this.minutes = parseInt(minutesStr) || null;
        timeStr = timeStr.substring(timeStr.lastIndexOf('M') + 1);
      }
      if (timeStr.includes('S')) {
        const secondsStr = timeStr.substring(0, timeStr.lastIndexOf('S'));
        this.seconds = parseInt(secondsStr) || null;
      }
    },
  },
  watch: {
    formalExpression() {
      this.init();
    },
  },
  mounted() {
    this.init();
  },
};
</script>
