<template>
  <div>
    <v-toolbar dense tile>
      <v-toolbar-title>Variables</v-toolbar-title>
      <v-toolbar-items class="flex-grow-1">
        <v-tabs show-arrows="mobile" center-active hide-slider optional>
          <v-tab
            v-for="(variable, index) in processVariables"
            :key="index"
            style="flex-direction: column; color: darkslategrey"
            @click="$emit('edit', index)"
          >
            <div>{{ variable.name }}</div>
            <div class="font-weight-regular" style="text-transform: none; font-size: 0.7rem">
              {{ variable.type }}
            </div>
          </v-tab>
        </v-tabs>
        <v-btn icon @click="$emit('add')"><v-icon>mdi-plus</v-icon></v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  props: {
    processVariables: Array,
  },
};
</script>
