<template>
  <div ref="canvas" :id="canvasID" class="vue-bpmn-diagram-container"></div>
</template>

<script>
import uuid from 'uuid';
import Viewer from 'bpmn-js/dist/bpmn-viewer.production.min';
import NavigatedViewer from 'bpmn-js/dist/bpmn-navigated-viewer.production.min';
import Modeler from 'bpmn-js/dist/bpmn-modeler.production.min';
import proceedModdleExtension from '@proceed/bpmn-helper/customSchema.json';
import { is } from 'bpmn-js/lib/util/ModelUtil';

import 'bpmn-js/dist/assets/diagram-js.css';
import 'bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
import 'bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
import 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css';

export default {
  name: 'BpmnJsWrapper',
  props: {
    xml: {
      type: String,
      required: false,
    },
    viewerMode: {
      type: String,
      required: false,
      default: 'viewer',
      validator: function (value) {
        // The value must match one of these strings
        return ['viewer', 'navigated-viewer', 'modeler'].includes(value);
      },
    },
    activitiesStyling: {
      type: Array,
      required: false,
    },
    showOriginalColors: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data() {
    return {
      viewer: null,
      canvasID: 'canvas_' + uuid.v4(),
      appliedStyling: [],
    };
  },
  watch: {
    xml() {
      if (!this.viewer) this.setupViewer();
      this.loadXML();
    },
    activitiesStyling(newValue, oldValue) {
      this.removeCurrentColors();
      this.applyColors();
    },
    async showOriginalColors() {
      if (this.showOriginalColors) {
        this.removeCurrentColors();
      } else {
        this.applyColors();
      }
    },
  },
  methods: {
    async removeCurrentColors() {
      if (this.viewer) {
        const canvas = this.viewer.get('canvas');
        this.appliedStyling.forEach(({ activityId, color }) => {
          canvas.removeMarker(activityId, color);
        });
        this.appliedStyling = [];
      }
    },
    async applyColors() {
      if (this.activitiesStyling) {
        const canvas = this.viewer.get('canvas');
        for (const activityStyle of this.activitiesStyling) {
          this.appliedStyling.push(activityStyle);
          canvas.addMarker(activityStyle.activityId, activityStyle.color);
        }
      }
    },
    async setupViewer() {
      const viewerCreationOptions = {
        container: '#' + this.canvasID,
        moddleExtensions: {
          proceed: proceedModdleExtension,
        },
      };

      switch (this.viewerMode) {
        case 'navigated-viewer':
          this.viewer = new NavigatedViewer(viewerCreationOptions);
          break;
        case 'modeler':
          this.viewer = new Modeler(viewerCreationOptions);
          break;
        default:
          this.viewer = new Viewer(viewerCreationOptions);
          break;
      }

      const eventBus = this.viewer.get('eventBus');

      const eventsToEmit = ['element.click', 'element.hover'];

      eventsToEmit.forEach((eventToEmit) => {
        eventBus.on(eventToEmit, (event) => {
          // replace '.' with ':' because vue events don't support them
          this.$emit(eventToEmit.replace('.', ':'), event);
        });
      });

      // expose the viewer to parent component
      this.$emit('newViewer', this.viewer);
    },
    async loadXML() {
      if (typeof this.xml !== 'string' || this.xml.length === 0) {
        this.viewer.destroy();
        this.viewer = null;
        return;
      }

      let xml = this.xml;

      try {
        const { warnings } = await this.viewer.importXML(xml);
        if (warnings && warnings.length) {
          console.warn(warnings);
        }
        this.viewer.get('canvas').zoom('fit-viewport', 'auto');
        this.applyColors();
      } catch (err) {
        // Only display error, if its not due to missing canvas to display the imported xml after beforeDestroy hook
        if (this.$refs.canvas) {
          console.error(err);
        }
      }
    },
  },
  beforeDestroy() {
    if (this.viewer) {
      this.viewer.destroy();
    }
  },
  mounted() {
    this.setupViewer();
    this.loadXML();
  },
};
</script>

<style>
.vue-bpmn-diagram-container {
  height: 100%;
  width: 100%;
}

.orange:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: orange !important;
}

.green:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important;
}

.red:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: red !important;
}
</style>
