<template>
  <div
    class="resizable-window"
    :id="title + 'window'"
    :style="[position(), windowSize(), { minWidth, minHeight }]"
    @mousedown="/**handleMousedown($event)*/"
  >
    <div style="height: 100%; overflow: hidden" id="content">
      <v-toolbar
        :class="title == 'BPMN XML' ? 'readonly' : ''"
        id="xml-toolbar"
        dense
        @mousedown="canDrag = true"
        v-if="title"
      >
        <v-toolbar-title small>{{ title }}</v-toolbar-title>
        <v-spacer />
      </v-toolbar>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    fullscreenOnly: { type: Boolean, default: false },
    canvasID: { type: String, default: 'canvas', required: false },
  },
  data() {
    return {
      initialWidth: this.fullscreenOnly ? '100%' : '80%',
      initialHeight: this.fullscreenOnly ? this.getCanvasHeight() : '400px',
      minWidth: '100px',
      minHeight: '100px',
      contentHeight: 0,
      widthChange: 0,
      heightChange: 0,
      left: 0,
      top: 0,
      lastMousePos: { x: 0, y: 0 },
      canDrag: false,
      dragging: false,
      resizing: false,
      sides: [],
      oldHeight: 0,
      oldWidth: 0,
      oldLeft: 0,
      oldTop: 0,
      fullscreen: false,
    };
  },
  methods: {
    position() {
      return { left: `${this.left}px`, top: `${this.top}px` };
    },
    windowSize() {
      return {
        width: `calc(${this.initialWidth} + ${this.widthChange}px)`,
        height: `calc(${this.initialHeight} + ${this.heightChange}px)`,
      };
    },
    handleMousedown(event) {
      if (!this.fullscreenOnly) {
        const window = document.getElementById(`${this.title}window`);
        // gives us the absolute positions of the window relative to the viewport
        const rect = window.getBoundingClientRect();
        if (event.clientX - rect.left <= 10) {
          this.resizing = true;
          this.sides.push('left');
        }
        if (event.clientY - rect.top <= 10) {
          this.resizing = true;
          this.sides.push('top');
        }
        if (rect.right - event.clientX <= 10) {
          this.resizing = true;
          this.sides.push('right');
        }
        if (rect.bottom - event.clientY <= 10) {
          this.resizing = true;
          this.sides.push('bottom');
        }
        if (!this.resizing && this.canDrag) {
          this.dragging = true;
        }

        document.body.addEventListener('selectstart', this.disableSelect);
        document.body.addEventListener('mouseup', this.handleMouseup);

        this.lastMousePos.x = event.clientX;
        this.lastMousePos.y = event.clientY;
      }
    },
    handleMousemove(event) {
      if (!this.fullscreenOnly) {
        if (this.resizing) {
          this.resizeWindow(event);
        } else if (this.dragging) {
          this.moveWindow(event);
        } else {
          this.conditionalCursorChange(event);
        }
      }
    },
    disableSelect(event) {
      event.preventDefault();
    },
    getCanvasHeight() {
      let canvas = document.getElementById(this.canvasID);
      canvas = canvas.getBoundingClientRect();
      return `${canvas.height}px`;
    },
    enterFullscreen() {
      const window = document.getElementById(`${this.title}window`);
      let canvas = document.getElementById(this.canvasID);
      canvas = canvas.getBoundingClientRect();

      if (this.fullscreen === false) {
        this.fullscreen = true;
        this.oldHeight = window.style.height;
        this.oldWidth = window.style.width;
        this.oldLeft = this.left;
        this.oldTop = this.top;
        window.style.height = `${canvas.height}px`;
        window.style.width = '100%';
        this.left = 0;
        this.top = canvas.top;
      } else {
        this.fullscreen = false;
        window.style.height = this.oldHeight;
        window.style.width = this.oldWidth;
        this.left = this.oldLeft;
        this.top = this.oldTop;
      }
      this.updateWidthOfFormBuilderBlocks();
    },
    moveWindow(event) {
      if (!this.fullscreenOnly) {
        let canvas = document.getElementById(this.canvasID);
        canvas = canvas.getBoundingClientRect();
        const window = document.getElementById(`${this.title}window`);
        const rect = window.getBoundingClientRect();
        const mouseDiffX = event.clientX - this.lastMousePos.x;
        const mouseDiffY = event.clientY - this.lastMousePos.y;
        const parent = document.getElementsByClassName('v-main__wrap')[0].getBoundingClientRect();
        if (rect.right > screen.width - 50 && mouseDiffX > 0) {
          this.widthChange = this.widthChange + (0.5 * parent.width - rect.width);
          this.heightChange = this.heightChange + canvas.height - rect.height;
          window.style.height = `${canvas.height}px`;
          window.style.width = '50%';
          this.top = canvas.top;
          this.left = 0.5 * parent.width;
          this.fullscreen = false;
          this.updateWidthOfFormBuilderBlocks();
        } else if (rect.left < parent.left + 50 && mouseDiffX < 0) {
          this.widthChange = this.widthChange + (0.5 * parent.width - rect.width);
          this.heightChange = this.heightChange + canvas.height - rect.height;
          this.left = 0;
          this.top = canvas.top;
          window.style.height = `${canvas.height}px`;
          window.style.width = '50%';
          this.fullscreen = false;
          this.updateWidthOfFormBuilderBlocks();
        } else {
          this.left = Math.max(0, this.left + mouseDiffX);
          this.top = Math.max(canvas.top, this.top + mouseDiffY);
        }
        this.lastMousePos.x = event.clientX;
        this.lastMousePos.y = event.clientY;
      }
    },
    updateWidthOfFormBuilderBlocks() {
      if (!this.fullscreenOnly) {
        let blockBar = document.getElementsByClassName('gjs-blocks-c')[0];
        if (blockBar) {
          blockBar = blockBar.getBoundingClientRect();
          const blocks = document.getElementsByClassName('gjs-block');
          if (blockBar.width < 130) {
            Array.prototype.forEach.call(blocks, (block) => {
              block.style.width = '100%';
            });
          } else {
            Array.prototype.forEach.call(blocks, (block) => {
              block.style.removeProperty('width');
            });
          }
        }
      }
    },
    resizeWindow(event) {
      if (!this.fullscreenOnly) {
        let canvas = document.getElementById(this.canvasID);
        canvas = canvas.getBoundingClientRect();
        this.fullscreen = false;

        const mouseDiffX = event.clientX - this.lastMousePos.x;
        const mouseDiffY = event.clientY - this.lastMousePos.y;

        if (this.sides.includes('left')) {
          this.left = Math.max(0, this.left + mouseDiffX);
          this.widthChange = this.widthChange - mouseDiffX;
        }

        if (this.sides.includes('right')) {
          this.widthChange = this.widthChange + mouseDiffX;
        }

        if (this.sides.includes('top')) {
          this.top = Math.max(canvas.top, this.top + mouseDiffY);
          this.heightChange = this.heightChange - mouseDiffY;
        }

        if (this.sides.includes('bottom')) {
          this.heightChange = this.heightChange + mouseDiffY;
        }

        this.lastMousePos.x = event.clientX;
        this.lastMousePos.y = event.clientY;
        this.updateWidthOfFormBuilderBlocks();
      }
    },
    handleMouseup() {
      if (!this.fullscreenOnly) {
        this.canDrag = false;
        this.dragging = false;
        this.resizing = false;
        this.sides = [];
        document.body.removeEventListener('mouseup', this.handleMouseup);
        document.body.removeEventListener('selectstart', this.disableSelect);
      }
    },
    conditionalCursorChange(event) {
      if (!this.fullscreenOnly) {
        const window = document.getElementById(`${this.title}window`);
        const rect = window.getBoundingClientRect();

        if (event.clientX - rect.left <= 5 && event.clientY - rect.top <= 5) {
          window.style.cursor = 'nwse-resize';
        } else if (event.clientY - rect.top <= 5 && rect.right - event.clientX <= 5) {
          window.style.cursor = 'nesw-resize';
        } else if (rect.right - event.clientX <= 5 && rect.bottom - event.clientY <= 5) {
          window.style.cursor = 'nwse-resize';
        } else if (rect.bottom - event.clientY <= 5 && event.clientX - rect.left <= 5) {
          window.style.cursor = 'nesw-resize';
        } else if (event.clientX - rect.left <= 5) {
          window.style.cursor = 'ew-resize';
        } else if (event.clientY - rect.top <= 5) {
          window.style.cursor = 'ns-resize';
        } else if (rect.right - event.clientX <= 5) {
          window.style.cursor = 'ew-resize';
        } else if (rect.bottom - event.clientY <= 5) {
          window.style.cursor = 'ns-resize';
        } else {
          window.style.cursor = 'auto';
        }
      }
    },
  },
  mounted() {
    let canvas = document.getElementById(this.canvasID);
    canvas = canvas.getBoundingClientRect();
    this.top = canvas.top;
    if (!this.fullscreenOnly) {
      document.body.addEventListener('mousemove', this.handleMousemove);
    }
    if (!this.fullscreen) {
      this.enterFullscreen();
    }
  },
  updated() {
    if (!this.fullscreenOnly) {
      const rect = document.getElementById('content').getBoundingClientRect();
      this.contentHeight = rect.bottom - rect.top;
      let window = document.getElementById(`${this.title}window`);
      window = window.getBoundingClientRect();
      let canvas = document.getElementById(this.canvasID);
      canvas = canvas.getBoundingClientRect();
      if (canvas.width !== window.width) {
        this.fullscreen = false;
      }
    }
  },
  beforeDestroy() {
    document.body.removeEventListener('mousemove', this.handleMousemove);
  },
};
</script>
<style scoped>
.readonly {
  background-color: #f0f0f0 !important;
}
.resizable-window {
  z-index: 1;
  position: absolute;
  overflow-y: hidden;
  border: 1px solid lightgray;
}
</style>
