<template>
  <Confirmation
    :title="title"
    :loading="loading"
    customTitle
    :continueButtonText="btnTitle"
    continueButtonColor="primary"
    :continueButtonDisabled="!selectedOption"
    @cancel="$emit('cancel')"
    @continue="$emit('continue', exportOption)"
  >
    {{ text }}
    <v-container>
      <v-row>
        <v-col>
          <v-radio-group v-model="selectedOption" column>
            <v-radio
              v-for="option in options"
              :key="option.label"
              :label="option.label"
              :value="option"
            ></v-radio>
          </v-radio-group>
        </v-col>

        <v-col cols="1" v-bind:style="{ display: 'inline-block', textAlign: 'center' }"
          ><v-divider vertical></v-divider
        ></v-col>

        <v-col>
          <v-container>
            <v-checkbox
              v-if="isUserTaskVisible"
              v-model="additionalBpmn"
              :key="'withUserTasks'"
              :label="'with User Tasks'"
              :value="!additionalBpmn"
            >
            </v-checkbox>
            <v-checkbox
              v-if="isPDFTitleVisible"
              v-model="additionalPdf"
              :key="'pdfwh'"
              :label="'with Title'"
              :value="!additionalPdf"
            ></v-checkbox>
            <v-checkbox
              v-if="isSubprocessVisible"
              v-model="additionalSubprocess"
              :key="`subprocess`"
              :label="'with Subprocesses'"
              :value="!additionalSubprocess"
            ></v-checkbox>

            <v-container v-if="isResolutionVisible">
              <span>Resolution</span>
              <v-slider
                v-model="resolutionValue"
                track-color="grey"
                always-dirty
                min="1"
                :tick-labels="ticksArray"
                :max="isPDFTitleVisible ? (max - 1 > 0 ? max - 1 : 1) : max"
              >
                <template v-slot:prepend>
                  <v-icon @click="resolutionValue--"> mdi-minus </v-icon>
                </template>

                <template v-slot:append>
                  <v-icon @click="resolutionValue++"> mdi-plus </v-icon>
                </template>
              </v-slider></v-container
            >
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </Confirmation>
</template>
<script>
import Confirmation from '@/components/universal/Confirmation.vue';

export default {
  components: {
    Confirmation,
  },
  computed: {
    btnTitle() {
      if (!this.selectedOption) return 'Export';

      return `Export ${this.selectedOption.format}`;
    },
    ticksArray() {
      let n = this.max - 2;
      if (this.isPDFTitleVisible) {
        n -= 1;
      }
      let ticks = Array(n).join('.').split('.');
      ticks.unshift('Min');
      ticks.push('Max');
      return ticks;
    },
  },
  data() {
    return {
      selectedOption: null,
      exportOption: null,
      additionalBpmn: false,
      additionalPdf: false,
      showMoreOptions: true,
      showBpmnOptions: false,
      showPdfOptions: false,
      showPngOptions: false,
      bpmnOption: null,
      resolutionValue: 2,
      additionalParam: {},
      isUserTaskVisible: false,
      isPDFTitleVisible: false,
      isResolutionVisible: false,
      isSubprocessVisible: false,
      additionalSubprocess: false,
      options: [
        {
          label: 'BPMN',
          format: 'bpmn',
        },
        {
          label: 'PDF',
          format: 'pdf',
        },
        {
          label: 'SVG',
          format: 'svg',
        },
        {
          label: 'PNG',
          format: 'png',
        },
      ],
    };
  },
  updated:
    /**
     * - show additional export options depending on selected format
     * - add additional export options to emitted object
     */
    function () {
      if (this.selectedOption) {
        this.additionalParam = {};
        switch (this.selectedOption.format) {
          case 'bpmn':
            this.additionalPdf = false;
            this.isUserTaskVisible = true;
            this.isPDFTitleVisible = false;
            this.isResolutionVisible = false;
            this.isSubprocessVisible = true;
            break;
          case 'pdf':
            this.additionalBpmn = false;
            this.isUserTaskVisible = false;
            this.isPDFTitleVisible = true;
            this.isResolutionVisible = true;
            this.isSubprocessVisible = true;
            this.additionalParam.resolution = this.resolutionValue;
            break;
          case 'png':
            this.additionalBpmn = false;
            this.additionalPdf = false;
            this.additionalParam.resolution = this.resolutionValue;
            this.isUserTaskVisible = false;
            this.isPDFTitleVisible = false;
            this.isResolutionVisible = true;
            this.isSubprocessVisible = true;
            break;
          default:
            this.additionalBpmn = false;
            this.additionalPdf = false;
            this.isUserTaskVisible = false;
            this.isPDFTitleVisible = false;
            this.isResolutionVisible = false;
            this.isSubprocessVisible = true;
            break;
        }
        this.exportOption = this.selectedOption;
        this.exportOption.additionalParam = this.additionalParam;
      }
      if (this.selectedOption.format == 'bpmn' && this.additionalBpmn == true) {
        this.exportOption.additionalParam.format = 'withUserTasks';
      }
      if (this.selectedOption.format == 'pdf' && this.additionalPdf == true) {
        this.exportOption.additionalParam.format = 'pdfwh';
      }
      if (this.additionalSubprocess == true) {
        this.exportOption.additionalParam.includeSubprocess = true;
      }
    },

  props: {
    title: String,
    text: String,
    error: String,
    max: Number,
    loading: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.container {
  padding: 0px;
}
</style>
