<template>
  <v-card>
    <popup :popupData="popupData" />
    <v-card-title>
      <span class="headline mx-0">{{ cardTitle }}</span>
      <v-spacer></v-spacer>
      <v-switch
        v-if="selectMode"
        v-model="selectModeIsCreating"
        :label="`New Subprocess`"
      ></v-switch>
    </v-card-title>

    <v-card-text>
      <v-form v-model="isFormValid" name="process-form" @submit.prevent>
        <v-container class="pa-0" v-if="importMode">
          <v-row class="mb-5">
            <v-col cols="12" sm="12" md="12">
              <v-file-input
                v-model="importedFile"
                ref="fileInput"
                label="BPMN or Zip File*"
                placeholder="Click to select BPMN or Zip File"
                accept=".bpmn,.xml,.zip"
                counter
                clearable
                persistent-hint
                hint="You can import an existing BPMN File or an existing Zip File"
                :rules="[inputRules.bpmnFile]"
                @change="handleFile"
                @click:clear="resetForm"
              ></v-file-input>
            </v-col>
          </v-row>
        </v-container>
        <v-container
          v-if="processesFormData[currentIndex] && !(selectMode && !selectModeIsCreating)"
          class="pa-0"
        >
          <v-row v-if="importMode && processesFormData[currentIndex].bpmnFile">
            <v-col cols="12" sm="12" md="12">
              <BpmnPreview
                viewerMode="navigated-viewer"
                :bpmnFile="processesFormData[currentIndex].bpmnFile"
              ></BpmnPreview>
            </v-col>
          </v-row>
          <v-row
            v-if="
              importMode &&
              processes.some((process) => process.id === processesFormData[currentIndex].id)
            "
          >
            <v-col cols="12" sm="12" md="12">
              <v-alert type="warning" prominent>
                This process is already in the management system and will be overwritten.
              </v-alert>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0" cols="12" sm="12" md="12">
              <v-text-field
                label="Process Name*"
                v-model="processesFormData[currentIndex].name"
                :rules="[inputRules.requiredName, inputRules.nameCounter]"
                counter="150"
                required
                @keydown.enter.native="handleSubmit"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0" cols="12" sm="12" md="12">
              <v-textarea
                label="Description"
                v-model="processesFormData[currentIndex].description"
                :rules="[inputRules.descriptionCounter]"
                rows="1"
                auto-grow
                counter
                clearable
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0" cols="12" sm="12" md="12">
              <v-select
                v-model="processesFormData[currentIndex].departments"
                :items="departmentNames"
                label="Department"
                required
                clearable
                multiple
                chips
                deletable-chips
                no-data-text="Unfortunatly you don't have any Departments added"
              ></v-select>
            </v-col>
          </v-row>
          <v-row v-if="canStoreLocally">
            <v-col>
              <v-tooltip v-if="processesFormData[currentIndex].local === undefined" top>
                <template v-slot:activator="{ on }">
                  <div v-on="on">
                    <v-switch :disabled="true" label="Process is already published" />
                  </div>
                </template>
                <span>Moving a process from backend to local storage is currently not allowed</span>
              </v-tooltip>
              <v-switch
                v-else
                v-model="processesFormData[currentIndex].local"
                :false-value="true"
                :true-value="false"
                :label="`Publish for everyone.`"
              ></v-switch>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="py-0" cols="12" sm="12" md="12">
              <small>*indicates required field</small>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-pagination
                v-if="processesFormData.length > 1"
                v-model="currentPage"
                circle
                :length="processesFormData.length"
                :total-visible="12"
              >
              </v-pagination>
            </v-col>
          </v-row>
        </v-container>
        <v-container class="pa-0" v-if="selectMode && !selectModeIsCreating">
          <v-row>
            <v-col class="py-0" cols="12" sm="12" md="12">
              <v-autocomplete
                label="Select Process"
                color="primary"
                v-model="selectedProcess"
                :filter="filterProcesses"
                :items="processes"
                item-text="name"
                return-object
                clearable
              >
              </v-autocomplete>
            </v-col>
          </v-row>
          <v-row v-if="selectedProcess">
            <v-col cols="12" sm="12" md="12">
              <BpmnPreview viewerMode="navigated-viewer" :process="selectedProcess"></BpmnPreview>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$emit('cancel')">Cancel</v-btn>
      <v-btn color="primary" :disabled="!isFormValid" @click="handleSubmit">{{
        submitButtonText
      }}</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import uuid from 'uuid';
import Ids from 'ids';
import {
  getId,
  getName,
  getUserTaskFileNameMapping,
  setUserTaskFileNames,
  getTaskConstraintMappingFromXml,
  addConstraints,
  setName,
  setStandardDefinitions,
  setTargetNamespace,
  removeUnusedCallActivityReferences,
  getCallActivityDefinitionIdMapping,
  addDocumentation,
  getProcessDescription,
  saveOriginalDefinitionsAsBackup,
} from '@proceed/bpmn-helper';
import { initXml } from '@/../shared-frontend-backend/helpers/processHelpers.js';
import { readFileAsync, readZipAsync } from '@/helpers/process-import.js';
import { correctXmlDefinitions, getOriginalDefinitions } from '@/helpers/xml-checker.js';
import BpmnPreview from '@/components/bpmn/BpmnPreview.vue';
import { getUpdatedTaskConstraintMapping } from '@/helpers/usertask-helper.js';
import { getAllSubprocesses } from '@/helpers/process-export/export-preparation.js';
import { defaultHtml, defaultCss } from '@/assets/user-task.js';
import { getProcessHierarchy } from '@/helpers/process-hierarchy.js';
import AlertWindow from '@/components/universal/Alert.vue';

export default {
  name: 'process-form',
  components: {
    BpmnPreview,
    popup: AlertWindow,
  },
  props: {
    process: { type: Object, required: false, validator: (process) => process && process.id },
    subprocessId: { type: String, required: false },
    importMode: { type: Boolean, required: false, default: false },
    selectMode: { type: Boolean, required: false, default: false },
  },
  computed: {
    canStoreLocally() {
      return !process.env.IS_ELECTRON && Storage;
    },
    bpmnIdsGenerator() {
      return new Ids([32, 36, 1]);
    },
    isCreating() {
      return !this.process;
    },
    departmentNames() {
      return this.departments.map((department) => department.name);
    },
    departments() {
      return this.$store.getters['departmentStore/getDepartments'];
    },
    currentIndex() {
      return this.currentPage - 1;
    },
    cardTitle() {
      if (this.importMode)
        return this.processesFormData.length > 1 ? 'Import Processes' : 'Import Process';
      else if (this.isCreating) return 'Add Process';
      else if (this.selectMode) return 'Set Subprocess';
      else return 'Edit Process';
    },
    submitButtonText() {
      if (this.importMode)
        return this.processesFormData.length > 1
          ? `Import ${this.processesFormData.length} Processes`
          : 'Import Process';
      else if (this.isCreating && !this.selectMode) return 'Add Process';
      else if (this.selectMode) return 'Set Subprocess';
      else return 'Save Process';
    },
  },
  data() {
    return {
      inputRules: {
        requiredName: (name) => !!name || 'Name is required',
        nameCounter: (name) =>
          (name && name.length <= 150) || 'Name should not be greater than 150 characters',
        descriptionCounter: (description) =>
          !description ||
          (description && description.length <= 100000) ||
          'Description should not be greater than 100000 characters',
        bpmnFile: (file) => !!file || 'File is required',
      },
      popupData: {
        body: '',
        display: 'none',
        color: 'info',
      },
      isFormValid: false,
      importedFile: null,
      currentPage: 1,
      processesFormData: [],
      selectedProcess: null,
      selectModeIsCreating: false,
      processes: [],
    };
  },
  methods: {
    filterProcesses(item, queryText, itemText) {
      return item.name.includes(queryText);
    },
    getDefaultProcessData() {
      return {
        name: '',
        description: '',
        departments: [],
        bpmnFile: null,
        userTasks: [],
        local: true,
      };
    },
    openFileExplorer() {
      return this.$refs['fileInput'].$refs.input.click();
    },
    handleSubmit() {
      if (!this.isFormValid) return;
      if (this.selectMode)
        if (this.selectModeIsCreating) this.add('set');
        else this.$emit('set', this.selectedProcess);
      else if (this.importMode || this.isCreating) this.add();
      else this.update();
    },
    async add(eventName = 'added') {
      for (let currentPage = 1; currentPage <= this.processesFormData.length; currentPage++) {
        this.currentPage = currentPage;
        await this.$nextTick();

        if (!this.isFormValid) {
          this.currentPage--;
          return;
        }
      }

      const addedProcesses = [];
      const userTaskPromises = [];
      for (const processFormData of this.processesFormData) {
        const process = {
          id: '_' + uuid.v4(),
          name: processFormData.name,
          description: processFormData.description,
          departments: processFormData.departments,
          variables: [],
          inEditingBy: [],
          subprocesses: processFormData.subprocesses || [],
          local: processFormData.local || undefined,
        };
        addedProcesses.push(process);
        const processes = this.$store.getters['processStore/processes'];
        if (processes.some((process) => process.id === processFormData.id)) {
          process.id = processFormData.id;
          let bpmn = await setName(
            processFormData.bpmnFile ||
              initXml(
                `Process_${this.bpmnIdsGenerator.next()}`,
                `Event_${this.bpmnIdsGenerator.next()}`
              ),
            processFormData.name
          );
          bpmn = await setStandardDefinitions(bpmn);
          bpmn = await setTargetNamespace(bpmn, process.id);
          bpmn = await removeUnusedCallActivityReferences(bpmn);
          bpmn = await addDocumentation(bpmn, processFormData.description);
          await this.$store.dispatch('processStore/updateWholeXml', {
            id: process.id,
            bpmn,
          });
          await this.$store.dispatch('processStore/updateProcessName', {
            id: process.id,
            name: processFormData.name,
          });
          await this.$store.dispatch('processStore/update', { process });
        } else {
          process.id = processFormData.id || process.id;
          await this.$store.dispatch('processStore/add', {
            process,
            bpmn:
              processFormData.bpmnFile ||
              initXml(
                `Process_${this.bpmnIdsGenerator.next()}`,
                `Event_${this.bpmnIdsGenerator.next()}`
              ),
          });
        }
        for (const userTask of processFormData.userTasks) {
          const saveUserTaskPromise = this.$store.dispatch('processStore/saveUserTask', {
            processDefinitionsId: process.id,
            taskFileName: userTask.taskFileName,
            html: userTask.html,
          });
          userTaskPromises.push(saveUserTaskPromise);
        }
      }

      await Promise.all(userTaskPromises);

      this.$emit(eventName, addedProcesses.length === 1 ? addedProcesses[0] : null);
    },
    async update() {
      if (this.isFormValid) {
        const processFormData = this.processesFormData[0];

        try {
          const process = {
            ...this.process,
            name: processFormData.name,
            local: processFormData.local,
            departments: processFormData.departments,
          };

          if (processFormData.name && processFormData.name !== this.process.name) {
            await this.$store.dispatch('processStore/updateProcessName', {
              id: this.process.id,
              name: processFormData.name,
            });
          }

          if (processFormData.description !== this.process.description) {
            await this.$store.dispatch('processStore/updateProcessDescription', {
              id: this.process.id,
              description: processFormData.description,
            });
          }

          await this.$store.dispatch('processStore/update', { process });

          this.$emit('update', process);
        } catch ({ message }) {
          this.popupData.body = message;
          this.popupData.color = 'error';
          this.popupData.display = 'block';
        }
      }
    },
    async handleFile() {
      if (this.importedFile) {
        this.currentPage = 1;
        this.processesFormData = [];
        const fileName = this.importedFile.name;

        try {
          const processesToOverwrite = [];
          const callActivitiesNotFound = [];
          const userTasksToSet = [];
          const processes = this.$store.getters['processStore/processes'];
          const defaultTask = `<html><head><style>${defaultCss}</style></head> <body>${defaultHtml}</body> </html>`;
          if (fileName.endsWith('.bpmn') || fileName.endsWith('.xml')) {
            let bpmnFileContent = await readFileAsync(this.importedFile);
            const originalDefinitions = getOriginalDefinitions(bpmnFileContent);
            const updatedXml = correctXmlDefinitions(bpmnFileContent);
            if (updatedXml) {
              bpmnFileContent = updatedXml;
            }
            const processDefinitionsId = await getId(bpmnFileContent);
            const processFromStore = this.$store.getters['processStore/processById'](
              processDefinitionsId
            );
            if (processFromStore) {
              processesToOverwrite.push(processFromStore.name);
            }
            const callActivityMapping = await getCallActivityDefinitionIdMapping(
              bpmnFileContent,
              false
            );
            Object.keys(callActivityMapping).forEach((callActivity) => {
              const process = this.$store.getters['processStore/processById'](
                callActivityMapping[callActivity].definitionId
              );
              if (!process) {
                callActivitiesNotFound.push(callActivityMapping[callActivity].definitionId);
              }
            });
            const userTasks = await getUserTaskFileNameMapping(bpmnFileContent);
            const userTaskHtmlMapping = [];
            const taskConstraintMapping = await getTaskConstraintMappingFromXml(bpmnFileContent);
            const subprocesses = await getProcessHierarchy(bpmnFileContent);
            if (Object.keys(userTasks).length > 0) {
              let taskWithNoFileNameExists = false;
              Object.keys(userTasks).forEach((taskId) => {
                userTasksToSet.push(taskId);
                if (!userTasks[taskId].fileName) {
                  userTasks[taskId].fileName = `User_Task_${this.bpmnIdsGenerator.next()}`;
                  userTasks[taskId].implementation = 'https://html.spec.whatwg.org/';
                  taskWithNoFileNameExists = true;
                }
                userTaskHtmlMapping.push({
                  taskFileName: userTasks[taskId].fileName,
                  taskId,
                  html: defaultTask,
                });
                taskConstraintMapping[taskId] = getUpdatedTaskConstraintMapping(
                  taskConstraintMapping[taskId],
                  defaultTask
                );
              });
              if (taskWithNoFileNameExists) {
                bpmnFileContent = await setUserTaskFileNames(bpmnFileContent, userTasks);
              }
              bpmnFileContent = await addConstraints(bpmnFileContent, { taskConstraintMapping });
            }
            await this.importProcessFormData(
              this.importedFile.name,
              bpmnFileContent,
              userTaskHtmlMapping,
              subprocesses,
              originalDefinitions
            );
          } else if (fileName.endsWith('.zip')) {
            const zipContents = await readZipAsync(this.importedFile);
            const definitionIds = [];
            zipContents.forEach(async (c) => {
              const name = await getName(c.bpmnFile.fileContent);
              const id = await getId(c.bpmnFile.fileContent);
              definitionIds.push(id);
            });
            for (const contentBundle of zipContents) {
              const originalDefinitions = getOriginalDefinitions(
                contentBundle.bpmnFile.fileContent
              );
              const updatedXml = correctXmlDefinitions(contentBundle.bpmnFile.fileContent);
              if (updatedXml) {
                contentBundle.bpmnFile.fileContent = updatedXml;
              }
              const processDefinitionsId = await getId(contentBundle.bpmnFile.fileContent);
              const processFromStore = this.$store.getters['processStore/processById'](
                processDefinitionsId
              );
              if (processFromStore) {
                processesToOverwrite.push(processFromStore.name);
              }
              const callActivityMapping = await getCallActivityDefinitionIdMapping(
                contentBundle.bpmnFile.fileContent,
                false
              );
              Object.keys(callActivityMapping).forEach((callActivity) => {
                const process = this.$store.getters['processStore/processById'](
                  callActivityMapping[callActivity].definitionId
                );
                if (!process) {
                  if (
                    !definitionIds.find((c) => c === callActivityMapping[callActivity].definitionId)
                  ) {
                    callActivitiesNotFound.push(callActivityMapping[callActivity].definitionId);
                  }
                }
              });
              let userTaskHtmlMapping = [];
              const userTasks = await getUserTaskFileNameMapping(
                contentBundle.bpmnFile.fileContent
              );
              const taskConstraintMapping = await getTaskConstraintMappingFromXml(
                contentBundle.bpmnFile.fileContent
              );
              const subprocesses = await getProcessHierarchy(contentBundle.bpmnFile.fileContent);
              if (Object.keys(userTasks).length > 0) {
                let taskWithNoFileNameExists = false;
                Object.keys(userTasks).forEach((taskId) => {
                  if (!userTasks[taskId].fileName) {
                    userTasks[taskId].fileName = `User_Task_${this.bpmnIdsGenerator.next()}`;
                    userTasks[taskId].implementation = 'https://html.spec.whatwg.org/';
                    taskWithNoFileNameExists = true;
                  }
                  let originalHtml = null;
                  if (
                    contentBundle.userTasks.find((t) => t.taskId === userTasks[taskId].fileName)
                  ) {
                    originalHtml = contentBundle.userTasks.find(
                      (t) => t.taskId === userTasks[taskId].fileName
                    ).html;
                  }
                  if (!originalHtml) {
                    userTasksToSet.push(taskId);
                  }
                  userTaskHtmlMapping.push({
                    taskFileName: userTasks[taskId].fileName,
                    taskId,
                    html: originalHtml || defaultTask,
                  });

                  taskConstraintMapping[taskId] = getUpdatedTaskConstraintMapping(
                    taskConstraintMapping[taskId],
                    originalHtml || defaultTask
                  );
                });
                if (taskWithNoFileNameExists) {
                  contentBundle.bpmnFile.fileContent = await setUserTaskFileNames(
                    contentBundle.bpmnFile.fileContent,
                    userTasks
                  );
                }
                contentBundle.bpmnFile.fileContent = await addConstraints(
                  contentBundle.bpmnFile.fileContent,
                  { taskConstraintMapping }
                );
              }
              await this.importProcessFormData(
                contentBundle.bpmnFile.fileName,
                contentBundle.bpmnFile.fileContent,
                userTaskHtmlMapping,
                subprocesses,
                originalDefinitions
              );
            }
          }
          let warnings = '';
          if (processesToOverwrite.length > 0) {
            warnings += `The processes ${processesToOverwrite.join(', ')} will be overwriten. `;
          }
          if (callActivitiesNotFound.length > 0) {
            warnings += `The callActivities ${callActivitiesNotFound.join(
              ', '
            )} are not present within the existing processes, make sure you also import them. `;
          }
          if (userTasksToSet.length > 0) {
            warnings += `The html of the userTasks ${userTasksToSet.join(
              ', '
            )} is not present and a default html form will be used instead.`;
          }
          if (warnings !== '') {
            this.popupData.body = warnings;
            this.popupData.color = 'info';
            this.popupData.display = 'block';
          }
        } catch (err) {
          console.error(err);
          this.resetForm();
        }
      }
    },
    async importProcessFormData(
      bpmnFileName,
      bpmnFileContent,
      userTasks = [],
      subprocesses = [],
      originalDefinitions = {}
    ) {
      const processDefinitionsId = await getId(bpmnFileContent);
      const processName = await getName(bpmnFileContent);
      const processFormData = this.getDefaultProcessData();

      processFormData.id = processDefinitionsId;
      processFormData.name = processName || bpmnFileName.replace(/(\.bpmn|\.xml)$/gm, '');

      processFormData.bpmnFile = bpmnFileContent;
      if (originalDefinitions.exporter !== 'PROCEED Management System') {
        processFormData.id = '_' + uuid.v4();
        const newBpmn = await saveOriginalDefinitionsAsBackup(
          bpmnFileContent,
          originalDefinitions,
          processFormData.id
        );
        processFormData.bpmnFile = newBpmn;
      }

      processFormData.userTasks = userTasks;
      processFormData.subprocesses = subprocesses;
      processFormData.description = await getProcessDescription(bpmnFileContent);

      this.processesFormData.push(processFormData);
    },
    resetForm() {
      this.importedFile = null;
      this.currentPage = 1;

      const defaultProcessFormData = this.getDefaultProcessData();
      this.processesFormData = [defaultProcessFormData];
    },
    async filterSelectableSubprocesses() {
      if (this.process) {
        let processes = this.$store.getters['processStore/processes'].map(async (process) => ({
          ...process,
          bpmn: await this.$store.getters['processStore/xmlById'](process.id),
        }));

        processes = await Promise.all(processes);

        let deepSubprocesses = processes.map((process) =>
          getAllSubprocesses(processes, process, [process])
        );

        deepSubprocesses = await Promise.all(deepSubprocesses);

        this.processes = processes.filter(
          (process, index) =>
            !deepSubprocesses[index].some((subProcess) => subProcess.id === this.process.id)
        );
      } else {
        this.processes = [];
      }
    },
    async loadDescription(processFormData) {
      if (this.process) {
        let bpmn = await this.$store.getters['processStore/xmlById'](this.process.id);
        const description = await getProcessDescription(bpmn);
        this.process.description = description;
        processFormData.description = description;
      }
    },
  },
  beforeMount() {
    if (this.selectMode) {
      if (this.subprocessId) {
        this.selectedProcess = this.processes.find((process) => process.id === this.subprocessId);
      }
    }
    const processFormData = this.getDefaultProcessData();
    if (this.process) {
      processFormData.name = this.process.name;
      processFormData.description = this.process.description;
      processFormData.departments = this.process.departments;
      processFormData.local = this.process.local;
      this.loadDescription(processFormData);
    }
    this.processesFormData.push(processFormData);
  },
  mounted() {
    if (this.importMode) {
      this.openFileExplorer();
    }
    if (this.selectMode && this.process) {
      this.filterSelectableSubprocesses();
    }
  },
  watch: {
    async process() {
      await this.filterSelectableSubprocesses();
    },
  },
};
</script>
