.bpmn-icon-group,
.bpmn-icon-participant,
.bpmn-icon-data-object,
.bpmn-icon-data-store,
.bpmn-icon-send,
.bpmn-icon-receive,
.bpmn-icon-manual,
.bpmn-icon-business-rule,
.bpmn-icon-service,
.bpmn-icon-parallel-mi-marker,
.bpmn-icon-sequential-mi-marker,
.bpmn-icon-loop-marker,
.bpmn-icon-start-event-signal,
.bpmn-icon-start-event-condition,
.bpmn-icon-intermediate-event-catch-non-interrupting-condition,
.bpmn-icon-start-event-timer,
.bpmn-icon-start-event-message,
.bpmn-icon-end-event-message,
.bpmn-icon-end-event-signal,
.bpmn-icon-end-event-compensation,
.bpmn-icon-gateway-complex,
.bpmn-icon-intermediate-event-catch-message,
.bpmn-icon-intermediate-event-catch-non-interrupting-message,
.bpmn-icon-intermediate-event-throw-message,
.bpmn-icon-intermediate-event-catch-non-interrupting-timer,
.bpmn-icon-intermediate-event-catch-condition,
.bpmn-icon-intermediate-event-catch-link,
.bpmn-icon-intermediate-event-throw-link,
.bpmn-icon-intermediate-event-throw-compensation,
.bpmn-icon-intermediate-event-catch-compensation,
.bpmn-icon-intermediate-event-throw-signal,
.bpmn-icon-intermediate-event-catch-signal,
.bpmn-icon-intermediate-event-catch-non-interrupting-signal,
.bpmn-icon-intermediate-event-catch-cancel,
.bpmn-icon-ad-hoc-marker,
.bpmn-icon-subprocess-collapsed {
  color: orange !important;
}

.bpmn-icon-group:hover,
.bpmn-icon-participant:hover,
.bpmn-icon-data-object:hover,
.bpmn-icon-data-store:hover {
  color: #005df7 !important;
}
