<template>
  <v-card>
    <v-card-title primary-title>
      {{ selectedActivity.id }}
    </v-card-title>
    <v-card-text>
      <v-alert :type="statusType" text>
        {{ statusText }}
        <v-progress-linear
          v-if="statusText === 'Running'"
          :color="statusType"
          :value="selectedActivity.currentProgress"
        ></v-progress-linear>
      </v-alert>

      <div v-if="selectedActivity.startTime">
        <v-icon left>mdi-clock</v-icon>
        <strong>Start Time: </strong>
        <DateTooltip :dateTime="selectedActivity.startTime" show-time hide-date />
      </div>

      <div v-if="selectedActivity.duration">
        <v-icon left>mdi-clock-fast</v-icon>
        <strong>Duration: </strong>
        {{ selectedActivity.duration }}
      </div>

      <SimpleMachineList v-if="selectedActivity.machine" :machines="[selectedActivity.machine]" />
    </v-card-text>
  </v-card>
</template>
<script>
import SimpleMachineList from '@/components/deployments/SimpleMachineList.vue';
import DateTooltip from '@/components/universal/DateTooltip.vue';
import { statusToType } from '@/helpers/instance-status-to-type.js';
export default {
  props: {
    selectedActivity: Object,
    statusText: String,
  },
  components: {
    DateTooltip,
    SimpleMachineList,
  },
  computed: {
    statusType() {
      return statusToType(this.statusText.toUpperCase());
    },
  },
};
</script>
