<template>
  <v-card>
    <v-card-title>
      {{ tableTitle }}
      <v-spacer></v-spacer>

      <v-text-field
        class="ma-0"
        v-model="searchDeployments"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
        :disabled="!deployments || deployments.length === 0"
        clearable
      ></v-text-field>
    </v-card-title>
    <v-divider />
    <v-data-table
      :headers="headers"
      :items="deployments"
      :search="searchDeployments"
      class="deployment-data-table"
    >
      <template v-slot:item.deploymentDate="{ item }">
        <DateTooltip :dateTime="item.deploymentDate" />
      </template>
      <template v-slot:item.machineIds="{ item }">
        <SimpleMachineList :machineIds="item.machineIds" chips />
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn color="primary" @click="$emit('openModal', item)">Show Instances</v-btn>
        <v-icon
          class="ml-2"
          v-if="isExternal"
          color="primary"
          @click.stop="$emit('click:import', item)"
          >mdi-download</v-icon
        >
        <v-icon
          color="error"
          class="mx-2"
          @click.stop="removeDeploymentId = item.definitionId"
          :loading="isCurrentlyDeleting == item.definitionId"
          >mdi-delete</v-icon
        >
      </template>
    </v-data-table>

    <v-dialog :value="!!removeDeploymentId" persistent max-width="500px" eager>
      <confirmation
        title="delete the deployment?"
        continueButtonText="Delete Deployment"
        continueButtonColor="error"
        @cancel="removeDeploymentId = null"
        @continue="removeDeployment"
      >
        <div>You are about to delete the deployment and stop all instanceses!</div>
      </confirmation>
    </v-dialog>
  </v-card>
</template>
<script>
import { engineNetworkInterface } from '../../backend-api/index.js';
import Confirmation from '@/components/universal/Confirmation.vue';
import DateTooltip from '@/components/universal/DateTooltip.vue';
import SimpleMachineList from '@/components/deployments/SimpleMachineList.vue';

export default {
  components: {
    Confirmation,
    DateTooltip,
    SimpleMachineList,
  },
  props: {
    tableTitle: { type: String, required: false },
    deployments: { type: Array, required: true },
    isExternal: { type: Boolean, required: false, default: false },
    noDataText: { type: String, required: false },
  },
  watch: {
    deployments() {
      this.isCurrentlyDeleting = null;
    },
  },
  data() {
    return {
      searchDeployments: '',
      internalDeployments: [],
      removeDeploymentId: null,
      isCurrentlyDeleting: null,
      headers: [
        { text: 'Process Name', value: 'name', align: 'left' },
        { text: 'Deployment Method', width: '15%', value: 'deploymentMethod', align: 'left' },
        { text: 'Deployment Date', width: '15%', value: 'deploymentDate', align: 'left' },
        { text: 'Instances', width: '15%', value: 'instances.length', align: 'left' },
        { text: 'Machines', value: 'machineIds', sortable: false, align: 'left' },
        { text: '', value: 'actions', width: 275, sortable: false, align: 'left' },
      ],
    };
  },

  methods: {
    async removeDeployment() {
      this.isCurrentlyDeleting = this.removeDeploymentId;
      await engineNetworkInterface.removeDeployment(this.removeDeploymentId);
      this.removeDeploymentId = null;
    },
  },
};
</script>

<style lang="scss">
.deployment-data-table.v-data-table tbody tr:not(.v-data-table__empty-wrapper) {
  cursor: pointer;

  &:not(.v-data-table__expanded__content):nth-of-type(odd) {
    background-color: #f5f5f5;
  }

  &:not(.v-data-table__expanded__content):hover,
  &.v-data-table__expanded.v-data-table__expanded__row {
    background-color: #1976d248;
  }

  &.v-data-table__expanded.v-data-table__expanded__content {
    cursor: default;
  }
}
</style>
