<template>
  <div>
    <div class="embed-button">
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <div v-on="on">
            <v-btn icon @click="showDialog = true">
              <v-icon>mdi-code-tags</v-icon>
            </v-btn>
          </div>
        </template>
        Embed
      </v-tooltip>
    </div>

    <v-dialog v-model="showDialog">
      <v-card>
        <v-card-title>Embed instance view</v-card-title>
        <v-card-text>
          <v-textarea
            id="iframe-code"
            v-model="iframeCode"
            rows="1"
            auto-grow
            readonly
          ></v-textarea>
          <v-text-field label="Width" v-model="width" :rules="[isPositive]"></v-text-field>
          <v-text-field label="Height" v-model="height" :rules="[isPositive]"></v-text-field>
          <v-checkbox label="Hide Sidebar" v-model="queries.noSidebar"></v-checkbox>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="copy">Copy</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ['deployment', 'instanceId'],
  computed: {
    queryString() {
      let firstQuery = true;

      let queryString = Object.entries(this.queries).reduce((currentQuery, [key, value]) => {
        const prefix = firstQuery ? '?' : '&';

        if (value) {
          firstQuery = false;

          return `${currentQuery}${prefix}${key}=${value}`;
        } else {
          return currentQuery;
        }
      }, '');

      return queryString;
    },

    url() {
      return `${window.location}/instance/${this.instanceId}${this.queryString}`;
    },

    iframeCode() {
      return `<iframe frameborder="0" width="${this.width}" height="${this.height}" src="${this.url}"></iframe>`;
    },
  },
  data() {
    return {
      showDialog: false,
      queries: {
        noSidebar: true,
      },
      width: 560,
      height: 315,
    };
  },
  methods: {
    isPositive(num) {
      return num > 0;
    },

    copy() {
      const iframeCode = document.getElementById('iframe-code');
      iframeCode.select();
      iframeCode.setSelectionRange(0, 99999);
      document.execCommand('copy');
    },
  },
};
</script>
<style scoped>
.embed-button {
  position: absolute;
  right: 0;
  padding: 10px;
  z-index: 1000;
}
</style>
