<template>
  <v-container>
    <div style="d-flex flex-grow-1">
      <embed-config
        v-if="isServer && !embedded && instance"
        :deployment="deployment"
        :instanceId="instance.processInstanceId"
      />

      <!-- Activity Cards -->
      <div v-if="selectedActivity" class="card-wrapper">
        <!-- Variables -->
        <VariablesInfo :variables="selectedActivity.variables" />

        <!-- Basic information -->
        <BasicMonitoringInfo :selectedActivity="selectedActivity" :statusText="statusText" />
        <!-- Errors -->
        <v-card v-if="Array.isArray(selectedActivity.errors)">
          <v-card-title primary-title> Errors </v-card-title>
          <v-card-text>
            <ul v-if="selectedActivity.errors.length">
              <li v-for="(error, index) in selectedActivity.errors" :key="index">
                {{ error }}
              </li>
            </ul>
            <em v-else>Nothing occured</em>
          </v-card-text>
        </v-card>
      </div>

      <!-- Deployment/Instance Card -->
      <div v-else-if="instance" class="card-wrapper">
        <InstanceCard
          :selectedInstance="instance"
          :deployment="deployment"
          :statusText="statusText"
        />
      </div>
    </div>

    <BPMNWrapper
      viewerMode="navigated-viewer"
      :xml="deployment.bpmn"
      :activitiesStyling="activitiesStyling"
      :showOriginalColors="showOriginalColors"
      @element:click="handleElementClick"
      @element:hover="handleElementHover"
      @newViewer="setViewer"
    ></BPMNWrapper>
  </v-container>
</template>
<script>
import BPMNWrapper from '@/components/bpmn/BpmnJsWrapper.vue';
import BasicMonitoringInfo from '@/components/deployments/BasicMonitoringInfo.vue';
import VariablesInfo from '@/components/deployments/VariablesInfo.vue';
import InstanceCard from '@/components/deployments/InstanceCard.vue';
import EmbedConfig from './EmbedConfigurator.vue';

import { getAllBpmnElementIds } from '@proceed/bpmn-helper';
import { statusToType } from '@/helpers/instance-status-to-type.js';
import { mergeIntoObject } from '../../../shared-frontend-backend/helpers/helpers.js';

import { engineNetworkInterface } from '../../backend-api/index.js';

export default {
  props: ['deployment', 'instance', 'showOriginalColors', 'stylings', 'embedded'],
  components: {
    BPMNWrapper,
    BasicMonitoringInfo,
    VariablesInfo,
    InstanceCard,
    EmbedConfig,
  },
  data() {
    return {
      instanceActivities: [],
      instanceTokens: [],
      overlays: [],
      hoveredElement: null,
      clickedElement: null,
      activeStates: ['PAUSED', 'RUNNING', 'READY', 'DEPLOYMENT-WAITING', 'WAITING'],
    };
  },
  computed: {
    /**
     * all known machines
     */
    machines() {
      return this.$store.getters['machineStore/machines'];
    },
    /**
     * the activity that is currently hovered over or selected (hover > selected)
     */
    selectedActivity() {
      const selectedElement = this.hoveredElement ? this.hoveredElement : this.clickedElement;

      if (
        !this.instance ||
        !Array.isArray(this.instanceActivities) ||
        !selectedElement ||
        !selectedElement.id
      ) {
        return null;
      }

      const selectedActivity = this.instanceActivities.find(
        (activity) => activity.id === selectedElement.id
      );

      let duration = 0;
      if (selectedActivity && selectedActivity.startTime) {
        if (selectedActivity.endTime) {
          duration = selectedActivity.endTime - selectedActivity.startTime;
        } else {
          duration = Date.now() - selectedActivity.startTime;
        }

        //get the hours from the difference
        const hours = Math.floor(duration / 3600000);
        duration -= hours * 3600000;
        // Minutes part from the difference
        const minutes = Math.floor(duration / 60000);
        duration -= minutes * 60000;
        //Seconds part from the difference
        const seconds = Math.floor(duration / 1000);
        duration -= seconds * 1000;

        // Will display time in 10:30:23 format
        selectedActivity.duration = `${hours}:${minutes}:${seconds}.${duration}h`;
      }

      return selectedActivity;
    },
    /**
     * the status of the instance or the currently selected activity
     */
    statusText() {
      let statusText = '';

      if (this.selectedActivity) {
        statusText = this.selectedActivity.status;
      } else if (this.instance) {
        // TODO: actually compute which state is the one to display (e.g. if there are [FORWARDED, RUNNING] display RUNNING)
        statusText = this.instance.instanceState[0];
      }

      return statusText.charAt(0).toUpperCase() + statusText.slice(1);
    },
    /**
     * styles for process elements
     */
    activitiesStyling() {
      if (!Array.isArray(this.instanceActivities)) {
        return [];
      }

      return this.instanceActivities
        .map((activity) => {
          let color = '';
          let type = statusToType(activity.status);
          if (type === 'warning') {
            color = 'orange';
          } else if (type === 'success') {
            color = 'green';
          } else if (type === 'error') {
            color = 'red';
          }
          return { activityId: activity.id, color };
        })
        .filter((activity) => activity.color);
    },

    isServer() {
      return !process.env.IS_ELECTRON;
    },
  },
  methods: {
    setViewer(viewer) {
      this.viewer = viewer;
    },

    handleElementHover({ element }) {
      if (element.type === 'bpmn:Process') {
        this.hoveredElement = null;
      } else {
        this.hoveredElement = element;
      }
    },

    handleElementClick({ element }) {
      if (element.type === 'bpmn:Process') {
        this.clickedElement = null;
      } else {
        this.clickedElement = element;
      }
    },

    /**
     * Polls up to date instance information
     */
    async fetchInstanceInformation() {
      let activities = [];
      let instanceTokens = [];

      // early exit if no instance is selected
      if (!this.instance) {
        this.instanceActivities = null;
        this.instanceTokens = null;
        return;
      }

      let instanceId = this.instance.processInstanceId;

      const bpmnElementIds = await getAllBpmnElementIds(this.deployment.bpmn);

      // initialize every activity with default values
      activities = bpmnElementIds.map((bpmnElementId) => {
        return {
          id: bpmnElementId,
          machine: null,
          status: 'WAITING',
          startTime: null,
          endTime: null,
          errors: [],
          currentProgress: 0,
          variables: [],
        };
      });

      // if there is a machine associated with this instance try to get information
      if (this.instance.machineIds) {
        const machineIds = [...this.instance.machineIds];
        for (const machineId of machineIds) {
          // see if the machine is available
          const machine = this.machines.find((machine) => machine.id === machineId);
          if (!machine) {
            console.warn(`Machine with the id ${machineId} not found among the available ones.`);
            continue;
          }

          // get instance information from the machine
          const instanceInformation = await engineNetworkInterface.getInstanceInformation(
            machine,
            this.deployment.definitionId,
            this.instance.processInstanceId
          );

          const { tokens, variables, log } = instanceInformation;

          // get information from tokens
          for (const token of tokens) {
            // save token
            instanceTokens.push(token);

            // find the already existing information for the flowElement the token resides
            const activity = activities.find(
              (activity) => activity.id === token.currentFlowElementId
            );
            if (activity) {
              activity.machine = machine;
              activity.startTime = token.currentFlowElementStartTime;

              if (
                instanceInformation.instanceState.includes('PAUSED') &&
                (token.state === 'RUNNING' ||
                  token.state === 'READY' ||
                  token.state === 'DEPLOYMENT-WAITING')
              ) {
                activity.status = 'PAUSED';
              } else if (
                !instanceInformation.instanceState.includes('STOPPED') &&
                (token.state === 'RUNNING' ||
                  token.state === 'READY' ||
                  token.state === 'DEPLOYMENT-WAITING')
              ) {
                activity.status = token.state;
              }

              if (token.currentFlowNodeProgress) {
                activity.currentProgress = token.currentFlowNodeProgress;
              }
            }
            if (
              token.nextMachine &&
              token.nextMachine.id &&
              !machineIds.includes(token.nextMachine.id)
            ) {
              machineIds.push(token.nextMachine.id);
            }
          }

          if (variables) {
            for (const variableName in variables) {
              const variableLog = variables[variableName].log;
              if (variableLog) {
                variableLog.forEach((logEntry, index) => {
                  const activity = activities.find(
                    (activity) => activity.id === logEntry.changedBy
                  );
                  let newValue;
                  if (index < variableLog.length - 1) {
                    newValue = variableLog[index + 1].oldValue;
                  } else {
                    newValue = variables[variableName].value;
                  }
                  activity.variables.push({
                    name: variableName,
                    oldValue: logEntry.oldValue,
                    newValue,
                  });
                });
              }
            }
          }

          if (log && Array.isArray(log)) {
            for (const execution of log) {
              const activity = activities.find(
                (activity) => activity.id === execution.flowElementId
              );
              // if there are already informations available for the given activity, go to the next execution log
              if (!activity || (activity.status !== 'FORWARDED' && activity.status !== 'WAITING')) {
                continue;
              }
              activity.machine = execution.machine;
              activity.status = execution.executionState;
              activity.startTime = execution.startTime;
              activity.endTime = execution.endTime;
              if (
                execution.nextMachine &&
                execution.nextMachine.id &&
                !machineIds.includes(execution.nextMachine.id)
              ) {
                machineIds.push(execution.nextMachine.id);
              }
            }
          }
        }
      }

      // if the instance selection wasn't changed in the meantime set the activities
      if (this.instance && instanceId === this.instance.processInstanceId) {
        this.instanceActivities = activities;
        this.instanceTokens = instanceTokens;
        // if there are still unresolved activities repeat the request after some seconds
        if (activities.some((activity) => this.activeStates.includes(activity.status))) {
          setTimeout(this.fetchInstanceInformation, 5000);
        }
      }
    },
  },
  async beforeMount() {
    if (this.instance) {
      await this.fetchInstanceInformation();
    }
  },
  watch: {
    instanceTokens(newTokens, oldTokens) {
      const overlayHandler = this.viewer.get('overlays');
      this.overlays.forEach((overlayId) => {
        overlayHandler.remove(overlayId);
      });
      const radius = 12.5;
      newTokens.forEach((token) => {
        const overlay = overlayHandler.add(token.currentFlowElementId, {
          position: {
            top: -radius,
            right: 0,
          },
          html: `<div style="width: ${2 * radius}px; height: ${
            2 * radius
          }px; background-color: red; border-radius: 100%;"></div>`,
        });
        this.overlays.push(overlay);
      });
    },

    async instance(newSelected, oldSelected) {
      if (this.instance) {
        if (!oldSelected || oldSelected.processInstanceId !== newSelected.processInstanceId) {
          await this.fetchInstanceInformation();
        }
      } else {
        this.selectedInstanceActivities = null;
        this.instanceTokens = [];
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.container {
  height: 100%;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  width: 100%; /* Need a specific value to work */
  max-height: 30%;

  .v-card {
    overflow-y: auto;
    // For 3 cards we end up with a content widh of 32% * 3 = 96% plus the margin-right for between the cards 96% + 2% = 98%.
    // Now 2% left for the margin to the left and the right for all cards
    margin-right: 1%;
    width: 32%;
    // height: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
