<template>
  <v-card>
    <v-card-text v-if="selectedInstance">
      <v-alert :type="statusType" text>
        {{ statusText }}
      </v-alert>

      <div v-if="selectedInstance.globalStartTime">
        <v-icon left>mdi-calendar</v-icon>
        <strong>Start Date: </strong>
        <DateTooltip :dateTime="selectedInstance.globalStartTime" />
      </div>

      <SimpleMachineList :machineIds="selectedInstance.machineIds" />
    </v-card-text>
    <v-card-text v-else>
      <div v-if="deployment.deploymentDate">
        <strong>Deployment Date: </strong>
        <DateTooltip :dateTime="deployment.deploymentDate" />
      </div>
      <div>
        <strong>Deployment Method: </strong>
        {{ deployment.deploymentMethod }}
      </div>

      <SimpleMachineList :machineIds="deployment.machineIds" />
    </v-card-text>
  </v-card>
</template>
<script>
import SimpleMachineList from '@/components/deployments/SimpleMachineList.vue';
import DateTooltip from '@/components/universal/DateTooltip.vue';
import { statusToType } from '@/helpers/instance-status-to-type.js';
export default {
  props: {
    selectableInstances: Array,
    selectedInstance: Object,
    deployment: Object,
    statusText: String,
  },
  components: {
    DateTooltip,
    SimpleMachineList,
  },
  computed: {
    statusType() {
      return statusToType(this.statusText.toUpperCase());
    },
    selectedI: {
      get: function () {
        return this.selectedInstance ? this.selectedInstance : null;
      },
      set: function (newValue) {
        this.$emit('selectInstance', newValue);
      },
    },
  },
};
</script>
