<template>
  <div>
    <div v-if="!chips">
      <v-icon left>mdi-cellphone-link</v-icon>
      <strong>{{ label }}: </strong>
      <ul v-if="allMachines.length > 1">
        <li v-for="machine in allMachines" :key="machine.id">
          <PropertiesTooltip :object="machine" activatorProperty="name" />
        </li>
      </ul>
      <span v-else-if="allMachines.length === 1">
        <PropertiesTooltip :object="allMachines[0]" activatorProperty="name" />
      </span>
      <span v-else class="font-italic">No machines found</span>
    </div>
    <div v-else>
      <v-chip-group column>
        <v-chip
          v-for="(machine, index) in allMachines"
          :key="index"
          :color="getMachineColor(machine.id)"
          dark
          small
          @click="$emit('click-machine', machine)"
          ><PropertiesTooltip :object="machine" activatorProperty="name" remove-styling
        /></v-chip>
      </v-chip-group>
    </div>
  </div>
</template>

<script>
import PropertiesTooltip from '@/components/universal/PropertiesTooltip.vue';

export default {
  name: 'SimpleMachineList',
  components: {
    PropertiesTooltip,
  },
  props: {
    machineIds: {
      type: Array,
      required: false,
      default: () => [],
      validator: (machineIds) =>
        Array.isArray(machineIds) && machineIds.every((machineId) => typeof machineId === 'string'),
    },
    machines: {
      type: Array,
      required: false,
      default: () => [],
      validator: (machines) =>
        Array.isArray(machines) &&
        machines.every(
          (machine) =>
            machine.id && (machine.ip || machine.host) /* && machine.port */ && machine.name
        ),
    },
    chips: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    knownMachines() {
      return this.$store.getters['machineStore/machines'];
    },
    allMachines() {
      return this.machineIds
        .map(this.getMachineById)
        .filter(
          (machine) =>
            !!machine && !this.machines.some((existingMachine) => existingMachine.id === machine.id)
        )
        .concat(this.machines);
    },
    label() {
      return this.allMachines.length === 1 ? 'Machine' : 'Machines';
    },
  },
  methods: {
    getMachineColor(machineId) {
      return this.$store.getters['machineStore/color'](machineId);
    },
    getMachineById(machineId) {
      return this.$store.getters['machineStore/machineById'](machineId);
    },
  },
};
</script>
