<template>
  <v-card>
    <v-card-title><h3>Edit group</h3></v-card-title>
    <v-container>
      <v-text-field v-model="newName" label="Group name" />
      <v-select v-model="newConjunction" :items="conjunctions" label="Select conjunction" />
    </v-container>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="cancel"> Cancel </v-btn>
      <v-btn color="primary" @click="edit()">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
/* eslint-disable no-underscore-dangle */
export default {
  name: 'groupEditor',
  props: {
    groups: { type: Array },
    group: { type: Object, required: true },
  },
  data() {
    return {
      conjunctions: ['AND', 'OR'],
      newName: this.group ? this.group._attributes.name : null,
      newConjunction: this.group ? this.group._attributes.conjunction : 'OR',
    };
  },
  methods: {
    cancel() {
      this.resetForm();
      this.$emit('cancel');
    },
    resetForm() {
      this.newName = null;
      this.newConjunction = 'OR';
    },
    edit() {
      this.$emit('edit', this.newName, this.newConjunction, this.group._attributes);
      this.resetForm();
    },
  },
};
</script>
