<template>
  <v-dialog eager v-model="showDialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">Process Constraints</span>
      </v-card-title>
      <v-form class="profileForm" @submit.prevent>
        <v-radio-group v-model="profile" :mandatory="false" column>
          <template v-slot:label>Choose one of the following profiles or make your own.</template>
          <div class="mt-3" v-for="profile in premadeProfiles" :key="profile.name">
            <v-radio :value="profile.name" class="mb-0">
              <template v-slot:label>
                <h4>{{ profile.name.charAt(0).toUpperCase() + profile.name.slice(1) }}</h4>
              </template>
            </v-radio>
            <v-row class="v-label theme--light ml-6">{{ getConstraintDescription(profile) }}</v-row>
            <v-radio value="none">
              <template v-slot:label>
                <h4>No process constraints</h4>
              </template>
            </v-radio>
            <v-radio value="custom">
              <template v-slot:label>
                <h4>Custom Profile</h4>
              </template>
            </v-radio>
          </div>
          <v-row class="v-label theme--light ml-6">
            {{ getConstraintDescription({ processConstraints: customConstraints }) }}
            <v-icon class="mt-n4" @click="openConstraintCustomModal()">mdi-pencil</v-icon>
          </v-row>
        </v-radio-group>
      </v-form>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="closeDialog()">OK</v-btn>
      </v-card-actions>
    </v-card>

    <v-dialog eager v-model="showConstraintCustomModal" persistent max-width="1400px">
      <ConstraintEditor
        :show="showConstraintCustomModal"
        :title="'Custom Process Constraints'"
        :level="'process'"
        :chosenConstraints="customConstraints"
        :elementId="elementId"
        :elementConstraintMapping="elementConstraintMapping"
        @save="onCustomModalSave($event)"
        @close="showConstraintCustomModal = false"
      />
    </v-dialog>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex';
import ConstraintEditor from '@/components/constraints/ConstraintEditor.vue';
import { performance } from '@/assets/constraintProfiles.js';
import { getConstraintDescription } from '@/helpers/constraint-helper.js';
import { eventHandler } from '@/backend-api/index.js';

export default {
  name: 'ProcessConstraintsModal',
  props: {
    elementConstraintMapping: { type: Object, default: () => ({}) },
    elementId: { type: String, default: '' },
    showDialog: { type: Boolean, default: false },
    id: { type: String },
  },
  components: { ConstraintEditor },
  data: () => ({
    profile: 'none',
    showConstraintCustomModal: false,
    customConstraints: {
      softConstraints: [],
      hardConstraints: [],
    },
  }),
  created() {
    const constraints = this.currentConstraints;
    this.profile = this.initProfile(constraints);
    this.customConstraints = constraints;
  },
  watch: {
    showDialog() {
      const constraints = this.currentConstraints;
      this.profile = this.initProfile(constraints);
      this.customConstraints = constraints;
    },
  },
  computed: mapState({
    xml: (state) => state.processEditorStore.xml,
    chosenConstraints() {
      switch (this.profile) {
        case 'performance':
          return performance.processConstraints;
        case 'custom':
          return this.customConstraints;
        case 'none':
          return {
            softConstraints: [],
            hardConstraints: [],
          };
        default:
          return {
            softConstraints: [],
            hardConstraints: [],
          };
      }
    },
    currentConstraints() {
      if (this.elementConstraintMapping[this.elementId]) {
        return this.elementConstraintMapping[this.elementId];
      }
      return;
    },
    premadeProfiles() {
      return [performance];
    },
    getConstraintDescription: () => getConstraintDescription,
  }),
  methods: {
    initProfile(constraints) {
      if (
        !constraints ||
        (!constraints.softConstraints.length && !constraints.hardConstraints.length)
      ) {
        return 'none';
      }
      if (constraints.hardConstraints) {
        if (constraints.hardConstraints.length > 0) {
          return 'custom';
        }
      }
      // find out which profile corresponds to chosen constraints
      let profile = null;
      this.premadeProfiles.forEach((p) => {
        if (
          constraints.softConstraints &&
          constraints.softConstraints.every((c) =>
            p.processConstraints.softConstraints.some(
              (pc) => pc.name === c.name && pc.condition === c.condition
            )
          ) &&
          constraints.softConstraints.length === p.processConstraints.softConstraints.length
        ) {
          profile = p.name;
        }
      });
      return profile || 'custom';
    },
    closeDialog() {
      this.$emit('update', this.chosenConstraints);

      this.$emit('close');
    },
    openConstraintCustomModal() {
      this.showConstraintCustomModal = true;
    },
    onCustomModalSave(event) {
      if (!event) {
        this.customConstraints = [];
      }
      this.customConstraints = event;
    },
  },
};
</script>

<style>
.headline {
  margin: 0.6rem 1rem;
}
.profileForm {
  margin: -2rem 2.2rem 0;
}
</style>
