.LogElem {
  margin: 0 7px 7px;
  box-shadow: 0 0 5px -3px #6d6d6d;
  border-radius: 0 0 7px 7px;
  display: flex;
  flex-wrap: wrap;
}

.data {
  margin: 0px 3px;
}

.debug {
  background-color: rgba(255, 235, 206, 0.349);
}

.error > .level {
  color: red;
}

.info > .level {
  color: green;
}

.info > .warn {
  color: orange;
}

#instance-select {
  display: none;
}

.instance-container {
  padding: 0;
}
