<template>
  <v-card @keydown.escape="$emit('cancel')">
    <v-card-title>
      <span class="headline" v-if="!isEditing">Add Machine</span>
      <span class="headline" v-if="isEditing">Edit Machine</span>
    </v-card-title>
    <v-container>
      <div v-if="!hostname && !host" class="text-left">
        You need to either specify an IP Address or a Hostname
      </div>
      <v-form ref="machine-form" lazy-validation @submit.prevent>
        <v-text-field v-model="hostname" v-if="!host || isEditing" label="Hostname" />
        <v-text-field
          v-model="host"
          v-if="!hostname || isEditing"
          :rules="hostRules"
          label="IP Address"
        />
        <v-text-field v-model="port" v-if="!hostname || isEditing" label="Port (Optional)" />
        <v-text-field v-model="optionalName" label="Own Name (Optional)" />
      </v-form>
    </v-container>
    <v-card-actions>
      <v-spacer />
      <v-btn small @click="$emit('cancel')">Cancel</v-btn>
      <v-btn color="primary" small :disabled="!hostname && !host" v-if="!isEditing" @click="add">
        Add
      </v-btn>
      <v-btn color="primary" small :disabled="!hostname && !host" v-if="isEditing" @click="update">
        Update
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { hostValidator } from 'host-validator';

export default {
  name: 'MachineForm',
  props: ['machine'],
  data() {
    return {
      missingInput: false,
      optionalName: this.machine ? this.machine.optionalName : '',
      hostname: this.machine ? this.machine.hostname.trim() : '',
      port: this.machine ? this.machine.port : '',
      hostRules: [
        (h) =>
          hostValidator(h).ipv4().validate() ||
          hostValidator(h).ipv6().validate() ||
          !h ||
          // TODO: Add regex for dot seperated hostname
          'Invalid hostname. IPv4/6 Required',
      ],
      host: this.machine ? this.machine.host.trim() : '',
    };
  },
  computed: {
    isEditing() {
      return !!this.machine;
    },
  },
  methods: {
    add() {
      if (this.hostname || this.host) {
        let { port } = this;
        if (this.port === '') {
          port = 33029;
        }
        this.$emit('add', {
          hostname: this.hostname.trim(),
          host: this.host.trim(),
          port,
          optionalName: this.optionalName,
          status: 'DISCONNECTED',
        });
      } else {
        this.missingInput = true;
      }
    },
    update() {
      if (this.hostname || this.host) {
        let { port } = this;
        if (this.port === '') {
          port = 33029;
        }
        this.$emit('update', {
          ...this.machine,
          id: this.machine.id,
          optionalName: this.optionalName,
          hostname: this.hostname,
          host: this.host,
          port,
        });
      } else {
        this.missingInput = true;
      }
    },
  },
};
</script>
