<template>
  <v-card style="overflow-x: hidden">
    <v-card-title>
      <v-icon class="mr-3">mdi-cellphone-link</v-icon>
      Machine Configuration Info
      <v-spacer />
      <v-icon @click="$emit('close')">mdi-close</v-icon>
    </v-card-title>
    <v-card-text height="600px" class="ml-3" v-if="!!machineConfig">
      <settings-list
        :settings="machineConfig"
        @valueChanged="commitChange($event)"
        :save="saveConfig"
        :isTopLevel="true"
      />
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$emit('close')">Cancel</v-btn>
      <v-btn style="position: sticky; z-index: 999" color="primary" @click="saveConfig = true"
        >Save</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script>
import { engineNetworkInterface } from '@/backend-api/index.js';
import SettingsList from '@/components/settings/SettingsList.vue';
export default {
  name: 'MachineConfig',
  props: ['machine'],
  data() {
    return {
      machineConfig: null,
      saveConfig: false,
    };
  },
  components: { SettingsList },
  methods: {
    async commitChange(event) {
      if (this.machine) {
        const keys = Object.keys(event);
        keys.forEach(async (key) => {
          this.machineConfig[key] = event[key];
        });
        await engineNetworkInterface.sendConfiguration(this.machine.id, this.machineConfig);
      }
      this.saveConfig = false;
      this.$emit('close');
    },
  },
  async mounted() {
    console.log(this.machine);
    if (this.machine) {
      console.log('mounted');
      const config = await engineNetworkInterface.getConfiguration(this.machine.id);
      this.machineConfig = config;
      this.configDialog = true;
    }
  },
};
</script>
